            @media only screen and (min-width: 1920px) {
                #section2 {
                    section {
                        #wrapper2 {
                            .tab1, .tab2, .tab3, .tab4 {
                                .gallery_avto {
                                    .panel {
                                        .bottom_panel {
                                            top: 400px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            @media only screen and (max-width: 1366px) {
                @keyframes logo {
                    0% {
                        opacity: 1;
                    }
                    20%{
                        opacity: 1;
                    }
                    70%{
                        transform: translate(0, 0px);
                    }
                    90%{

                    }
                    95%{

                    }
                    100% {
                        transform: translate(0px, -235px) scale(0.1);
                    }
                }
                #makeMeScrollable2, #makeMeScrollable3, #makeMeScrollable4{
                    width:100%;
                    margin:0 auto;
                    display:block;
                    position:relative;
                    height:310px;
                }
                .part{
                    width: 220px;
                }
                div.scrollingHotSpotLeft, div.scrollingHotSpotRight {
                    height: 70%;
                }
                .alert-message {
                    .message-box {
                        top: 2%;
                        margin-left: -200px;
                        width: 28%;
                    }
                }
                @keyframes punkt {
                    0% {
                        opacity: 0;
                        width: 8px;
                    }
                    50% {
                        opacity: 1;
                        width: 8px;
                    }
                    100% {
                        width: 300px;
                    }
                }
                #home {
                    table {
                        height: 40em;
                        .center-td {
                            padding-top: 4%;
                        }
                    }
                    #logo{
                        animation: logo 6s ease-in 4s 1;
                    }
                }
                #menu {
                    nav {
                        .center {
                            left: 34.3%;
                        }
                        ul{
                            li{
                                font-size: 13px;
                            }
                        }
                    }
                }
                #section0 {
                    background-position: -95px -59px;
                    top: 0;
                    section {
                        top: 0;
                        width: 65%;
                        h2 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                            &.yellow-text {
                                padding-top: 290px;
                            }
                        }
                        #bisnesman-1 {
                            background-size: 100%;
                            height: 370px;
                            width: 230px;
                            .punkt-1,
                            .punkt-2,
                            .punkt-3 {
                                background: url("../img/puncts/punkt-1.png") no-repeat right;
                                background-size: 100%;
                                right: 150px;
                                top: -20px;
                                height: 115px;
                                width: 300px;
                                h3 {
                                    font-size: 18px;
                                    margin: 0;
                                    margin-top: 30px;
                                }
                                span {
                                    font-size: 12px;
                                }
                            }
                            .punkt-2 {
                                background: url("../img/puncts/punkt-2.png") no-repeat right;
                                background-size: 100%;
                                top: 150px;
                                right: 165px;
                                h3 {
                                    margin: 5px 0;
                                    margin-top: 33px;
                                }
                            }
                            .punkt-3 {
                                background: url("../img/puncts/punkt-3.png") no-repeat right;
                                background-size: 100%;
                                top: 250px;
                                right: 180px;
                                h3 {
                                    margin: 5px 0;
                                    margin-top: 53px;
                                    margin-left: -50px;
                                }
                                span {
                                    margin-left: -50px;
                                }
                            }
                        }
                        #bisnesman-2 {
                            background-size: 100%;
                            right: 92px;
                            height: 370px;
                            width: 178px;
                            .punkt-1,
                            .punkt-2 {
                                animation: punkt 3s ease-in-out;
                                background: url("../img/puncts/punkt-4.png") no-repeat left;
                                background-size: 100%;
                                position: absolute;
                                top: 30px;
                                overflow: hidden;
                                height: 115px;
                                width: 300px;
                                h3 {
                                    font-size: 18px;
                                    margin: 0 5px;
                                    margin-top: 30px;
                                }
                                span {
                                    font-size: 12px;
                                    opacity: 0;
                                }
                            }
                            .punkt-1 {
                                left: 140px;
                            }
                            .punkt-2 {
                                background: url("../img/puncts/punkt-5.png") no-repeat left;
                                background-size: 100%;
                                top: 190px;
                                left: 115px;
                                h3 {
                                    margin: 5px 5px;
                                    margin-top: 33px;
                                }
                            }
                        }
                    }
                }
                #section1 {
                    section {
                        padding-top: 0;
                        width: 100%;
                        #wrapper.tab1 div.tab1 {
                            background: url("../img/bisness.png") no-repeat left top;
                            background-size: 43%;
                            background-position: 80px;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab2 div.tab2 {
                            background: url("../img/family.png") no-repeat right top;
                            background-size: 39%;
                            background-position: 540px;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab3 div.tab3 {
                            background: url("../img/turism.png") no-repeat left top;
                            background-size: 43%;
                            background-position: 220px;
                            display: block;
                            width: 100%;
                        }

                        h2 {
                            margin-bottom: 20px;
                        }
                        #wrapper {
                            h3 {
                                font-size: 22px;
                            }
                            .tabs-line {
                                display: inline-block;
                                margin-bottom: 15px;
                            }
                        }
                        .tab1, .tab2, .tab3 {
                            .description {
                                padding: 0px 200px;
                                .h4{
                                    font-size: 1.6em;
                                }

                                .description-item {
                                    padding-bottom: 9px;
                                    P{
                                        font-size: 0.9em;
                                    }
                                    img {
                                        width: 35px;
                                        margin-bottom: 12px;
                                    }
                                    small {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
                #section2 {
                    background: url("../img/car_park.jpg") no-repeat center #020204;
                    background-size: 125%;
                    section {
                        width: 90%;
                        #wrapper2 {
                            h3 {
                                font-size: 0.9em;
                            }
                            .tabs-line {
                                margin-bottom: 20px;
                                margin-top: 20px;
                            }
                            .tab1, .tab2, .tab3, .tab4 {
                                .gallery_avto {
                                    .panel {
                                        .status-description {
                                            p {
                                                line-height: 140%;
                                                font-size: 0.9em;
                                            }
                                            h2 {
                                                font-size: 1.1em;
                                                font-weight: 100;
                                            }
                                        }
                                        .big_transport {
                                            padding: 75px 40px;
                                            padding-bottom: 0;
                                            width: 40%;
                                            img {
                                                width: 85%;
                                                height: auto;
                                            }
                                            &.jeep-big{
                                                padding: 65px 40px;
                                            }
                                            &.cars-big{
                                                padding: 75px 40px;
                                            }
                                        }
                                        .description_transport {
                                            width: 26%;
                                            h2 {
                                                font-size: 1.2em;
                                            }
                                            .line-info {
                                                padding-top: 0;
                                                .right {
                                                    font-size: 0.8em;
                                                    width: 160px;
                                                }
                                            }
                                        }
                                        .bottom_panel {
                                          top: 288px;
                                            &.gruz{
                                                top: 270px;
                                            }
                                            .part {
                                                .box_transport {
                                                    h2 {
                                                        font-size: 1em;
                                                    }
                                                    .status_transport{
                                                        padding: 3px 10px;
                                                    }
                                                    ul {
                                                        margin: 0;
                                                        li {
                                                            font-size: 0.75em;
                                                        }
                                                    }
                                                    img {
                                                        height: 50px;
                                                    }
                                                    &.active{
                                                        box-shadow: 0 0 20px 0 #fff;
                                                    }
                                                    &:hover{
                                                        box-shadow: 0 0 20px 0 #fff;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #section3 {
                    #form-left-bg {
                        background: url("../img/bid.png") no-repeat;
                        background-position: center 237px;
                        background-size: 38%;
                        left: -400px;
                    }
                    #form-right-bg {
                        background: url("../img/bid-right.png") no-repeat;
                        background-position: 890px 250px;
                        background-size: 33%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                    }
                    #form {
                        padding: 0 5%;
                        width: 35%;
                        h2 {
                            margin: 0;
                            padding: 10px 0;
                        }
                        form {
                            textarea {
                                height: 100px;
                            }
                            .btn {
                                margin: 15px auto;
                            }
                        }
                        p {
                            margin-top: 0;
                        }
                    }
                }
                #section4 {
                    #car {
                        #description-contact {
                            padding-top: 21%;
                            h2 {
                                padding-top: 5px;
                                font-size: 1em;
                            }
                            .line-info {
                                border-bottom: 1px solid #4e4e4e;
                                padding: 5px 0;
                                color: #fff;
                                font-size: 1.1em;
                                text-align: left;
                                &.none-line {
                                    border-bottom: none;
                                    padding-top: 8px;
                                    .left {
                                        padding-top: 8px;
                                    }
                                }
                                .left {
                                    float: left;
                                    font-size: 0.75em;
                                }
                                .right {
                                    font-size: 0.75em;
                                    float: right;
                                    width: 220px;
                                    a {
                                        color: #2e79cc;
                                    }
                                }
                            }
                        }
                        #description-contact-2 {
                            padding: 0 10%;
                            padding-top: 15px;
                            .line-info {
                                .right {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
                #tel-icon {
                    bottom: 15px;
                    right: 50px;
                }
            }
            @media only screen and (max-width: 1280px) {
                .alert-message {
                    .message-box {
                        top: 2%;
                        margin-left: -200px;
                        width: 28%;
                    }
                }
                @keyframes punkt {
                    0% {
                        opacity: 0;
                        width: 8px;
                    }
                    50% {
                        opacity: 1;
                        width: 8px;
                    }
                    100% {
                        width: 300px;
                    }
                }
                #home {
                    table {
                        height: 40em;
                        .center-td {
                            padding-top: 4%;
                        }
                    }
                }
                #menu {
                    nav {
                        .center {
                            left: 33%;
                        }
                    }
                }
                #section0 {
                    top: 0px;
                    section {
                        top: 53px;
                        width: 65%;
                        h2 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                            &.yellow-text {
                                padding-top: 255px;
                            }
                        }
                        #bisnesman-1 {
                            background-size: 100%;
                            height: 370px;
                            width: 230px;
                            .punkt-1,
                            .punkt-2,
                            .punkt-3 {
                                background: url("../img/puncts/punkt-1.png") no-repeat right;
                                background-size: 100%;
                                right: 150px;
                                top: -20px;
                                height: 115px;
                                width: 300px;
                                h3 {
                                    font-size: 18px;
                                    margin: 0;
                                    margin-top: 30px;
                                }
                                span {
                                    font-size: 12px;
                                }
                            }
                            .punkt-2 {
                                background: url("../img/puncts/punkt-2.png") no-repeat right;
                                background-size: 100%;
                                top: 150px;
                                right: 165px;
                                h3 {
                                    margin: 5px 0;
                                    margin-top: 33px;
                                }
                            }
                            .punkt-3 {
                                background: url("../img/puncts/punkt-3.png") no-repeat right;
                                background-size: 100%;
                                top: 250px;
                                right: 180px;
                                h3 {
                                    margin: 5px 0;
                                    margin-top: 53px;
                                    margin-left: -50px;
                                }
                                span {
                                    margin-left: -50px;
                                }
                            }
                        }
                        #bisnesman-2 {
                            background-size: 100%;
                            right: 92px;
                            height: 370px;
                            width: 178px;
                            .punkt-1,
                            .punkt-2 {
                                animation: punkt 3s ease-in-out;
                                background: url("../img/puncts/punkt-4.png") no-repeat left;
                                background-size: 100%;
                                position: absolute;
                                top: 30px;
                                overflow: hidden;
                                height: 115px;
                                width: 300px;
                                h3 {
                                    font-size: 18px;
                                    margin: 0 5px;
                                    margin-top: 30px;
                                }
                                span {
                                    font-size: 12px;
                                    opacity: 0;
                                }
                            }
                            .punkt-1 {
                                left: 140px;
                            }
                            .punkt-2 {
                                background: url("../img/puncts/punkt-5.png") no-repeat left;
                                background-size: 100%;
                                top: 190px;
                                left: 115px;
                                h3 {
                                    margin: 5px 5px;
                                    margin-top: 33px;
                                }
                            }
                        }
                    }
                }
                #section1 {
                    section {
                        padding-top: 43px;
                        width: 100%;
                        #wrapper.tab1 div.tab1 {
                            background: url("../img/bisness.png") no-repeat left top;
                            background-size: 43%;
                            background-position: 80px;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab2 div.tab2 {
                            background: url("../img/family.png") no-repeat right top;
                            background-size: 39%;
                            background-position: 540px;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab3 div.tab3 {
                            background: url("../img/turism.png") no-repeat left top;
                            background-size: 43%;
                            background-position: 220px;
                            display: block;
                            width: 100%;
                        }

                        h2 {
                            margin-bottom: 5px;
                        }
                        #wrapper {
                            h3 {
                                font-size: 22px;
                            }
                            .tabs-line {
                                display: inline-block;
                                margin-bottom: 10px;
                            }
                        }
                        .tab1, .tab2, .tab3 {
                            .description {
                                padding: 10px 200px;
                                .h4{
                                    font-size: 1.2em;
                                }

                                .description-item {
                                    padding-bottom: 9px;
                                    P{
                                        font-size: 0.9em;
                                    }
                                    img {
                                        width: 31px;
                                        margin-bottom: 12px;
                                    }
                                    small {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                #section2 {
                    section {
                        width: 90%;
                        #wrapper2 {
                            h3 {
                                font-size: 0.8em;
                            }
                            .tabs-line {
                                margin-bottom: 20px;
                                margin-top: 90px;
                            }
                            .tab1, .tab2, .tab3, .tab4 {
                                .gallery_avto {
                                    .panel {
                                        .status-description {
                                            p {
                                                line-height: 140%;
                                                font-size: 0.9em;
                                            }
                                            h2 {
                                                font-size: 1.1em;
                                                font-weight: 100;
                                            }
                                        }
                                        .big_transport {
                                            padding: 37px 40px;
                                            padding-bottom: 0;
                                            width: 40%;
                                            img {
                                                width: 100%;
                                                height: 272px;
                                            }
                                            &.jeep-big{
                                                padding: 0 40px;
                                            }
                                            &.cars-big{
                                                padding: 50px 40px;
                                            }
                                        }
                                        .description_transport {
                                            width: 25%;
                                            h2 {
                                                font-size: 1em;
                                            }
                                            .line-info {
                                                padding-top: 0;
                                                .right {
                                                    font-size: 0.7em;
                                                    width: 160px;
                                                }
                                                .left{
                                                    font-size: 0.8em;
                                                }
                                            }
                                        }
                                        .bottom_panel {
                                          top: 233px;
                                            &.gruz{
                                                padding-top: 25px;
                                            }
                                            .part {
                                                .box_transport {
                                                    h2 {
                                                        font-size: 1em;
                                                    }
                                                    ul {
                                                        margin: 0;
                                                        li {
                                                            font-size: 0.75em;
                                                        }
                                                    }
                                                    img {
                                                        height: 40px;
                                                    }
                                                    .status_transport{
                                                        padding: 2px 10px;
                                                    }
                                                }
                                            }
                                            div.scrollingHotSpotLeft{
                                                height: 75%;
                                            }
                                            div.scrollingHotSpotRight{
                                                height: 75%;
                                            }
                                            .part{
                                                width: 215px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #section3 {
                    #form-left-bg {
                        background: url("../img/bid.png") no-repeat;
                        background-position: center 200px;
                        background-size: 43%;
                        left: -400px;
                    }
                    #form-right-bg {
                        background: url("../img/bid-right.png") no-repeat;
                        background-position: 890px 250px;
                        background-size: 33%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                    }
                    #form {
                        padding: 0 5%;
                        width: 35%;
                        h2 {
                            margin: 0;
                            padding: 10px 0;
                        }
                        form {
                            textarea {
                                height: 100px;
                            }
                            .btn {
                                margin: 15px auto;
                            }
                        }
                        p {
                            margin-top: 0;
                        }
                    }
                }
                #section4 {
                    #car {
                        #description-contact {
                            padding-top: 18%;
                            h2 {
                                padding-top: 5px;
                                font-size: 1em;
                            }
                            .line-info {
                                border-bottom: 1px solid #4e4e4e;
                                padding: 3px 0;
                                color: #fff;
                                font-size: 1.1em;
                                text-align: left;
                                &.none-line {
                                    border-bottom: none;
                                    padding-top: 8px;
                                    .left {
                                        padding-top: 8px;
                                    }
                                }
                                .left {
                                    float: left;
                                    font-size: 0.75em;
                                }
                                .right {
                                    font-size: 0.75em;
                                    float: right;
                                    width: 220px;
                                    a {
                                        color: #2e79cc;
                                    }
                                }
                            }
                        }
                        #description-contact-2 {
                            padding: 0 10%;
                            padding-top: 15px;
                            .line-info {
                                .right {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
                #tel-icon {
                    bottom: 15px;
                    right: 50px;
                }
            }

            @media only screen and (max-width: 980px) {}
            
            @media only screen and (max-width: 800px) {}
            
            @media only screen and (max-width: 768px) {}
            
            @media only screen and (max-width: 360px) {
                #home {
                    background: url("../img/bg.jpg") no-repeat center center;
                    background-size: cover;
                    position: relative;
                    height: 100%;
                    z-index: 105;

                    table .center-td {
                        vertical-align: middle;
                        position: absolute;
                        padding-top: 15%;
                        left: 50%;
                        right: 50%;
                        //margin-left: -150px;
                        width: 90%;
                    }

                    #dynamic-text {
                        margin: 0px auto;
                    }
                    table {
                        height: 40em;
                    }
                    #logo {
                        background: url("../img/logo.png") no-repeat center center;
                        background-size: 100%;
                        position: relative;
                        animation: logoFalse 4s ease-in 1;
                        margin: 0 auto;
                        height: 421px;
                        width: 100%;

                        &:before {
                            content: "";
                            display: none;
                        }
                    }
                }
                #menu {
                    nav {
                        margin: 0 auto;
                        width: 100%;
                        ul {
                            float: left;
                            padding: 0;
                            &.left {
                                li {
                                    margin-left: 95px;
                                    &.center-v {
                                        margin-left: 5px;
                                    }
                                }
                            }
                            &.center {
                                li {
                                    &.center-v {
                                        display: none;
                                    }
                                }
                            }

                            &.right {
                                li.btn-yellow {
                                    display: none;
                                }
                            }
                        }
                        .center {
                            left: 38%;
                        }
                    }
                }
                #section0 {
                    background: url("../img/bg-2-min.jpg") no-repeat center center #111519;
                    background-size: cover;
                    //display: none;
                    position: relative;
                    top: 140px;
                    height: 100%;
                    width: 100%;
                    z-index: 1;

                    section {
                        position: relative;
                        top: 45px;
                        text-align: center;
                        color: #fff;
                        margin: 0 auto;
                        width: 90%;

                        h2 {
                            margin: 0;
                            font-weight: 100;
                            font-size: 1.2em;
                            text-transform: uppercase;
                        }

                        .yellow-text {
                            color: #e6b41d;
                        }

                        p {
                            font-size: 0.75em;
                            margin-bottom: 0;
                            &.yellow-text {
                                position: relative;
                                padding-top: 4%;
                                bottom: 0;
                            }
                        }
                        #bisnesman-1 {
                            background: none;
                            position: relative;
                            left: 0;
                            top: 10px;
                            text-align: left;
                            height: 0;
                            width: 0;
                            .punkt-1, .punkt-2, .punkt-3 {
                                animation: punkt-false 3s ease-in-out;
                                background: none;
                                position: relative;
                                top: 10px;
                                right: 0px;
                                overflow: visible;
                                height: 80px;
                                width: 320px;
                                h3 {
                                    animation: punkt-text-false 0s ease-in-out 0s;
                                    font-weight: 100;
                                    opacity: 1;
                                    text-transform: uppercase;
                                    font-size: 0.75em;
                                    margin: 0;
                                }
                                span {
                                    animation: punkt-text-false 3s ease-in-out 3s;
                                    font-size: 0.6em;
                                    opacity: 1;
                                }
                            }
                            .punkt-2 {
                                background: none;
                                top: 0;
                                right: 0;
                                h3 {
                                    margin:  0;
                                }
                            }
                            .punkt-3 {
                                background: none;
                                top: 0;
                                right: 0;
                                h3 {
                                    margin: 0;
                                }
                                span {
                                    margin-left: 0;
                                }
                            }
                        }
                        #bisnesman-2 {;
                            background: none;
                            position: relative;
                            text-align: right;
                            right: 0;
                            top: 15px;
                            margin-bottom: 45px;
                            height: 100%;
                            width: 100%;

                            .punkt-1, .punkt-2 {
                                animation: punkt-false 3s ease-in-out;
                                background: none;
                                position: relative;
                                left: 0;
                                top: 0;
                                overflow: visible;
                                height: 80px;
                                width: 100%;
                                h3 {
                                    animation: punkt-text-false 3s ease-in-out 3s;
                                    font-weight: 100;
                                    opacity: 1;
                                    text-transform: uppercase;
                                    font-size: 0.75em;
                                    margin: 0;
                                }
                                span {
                                    animation: punkt-text-false 3s ease-in-out 3s;
                                    font-size: 0.6em;
                                    opacity: 1;
                                }
                            }
                            .punkt-2 {
                                background: none;
                                top: 0;
                                right: 0;
                                h3 {
                                    margin: 0;;
                                }
                            }
                        }
                    }
                }
                #section1 {
                    background: #fbfbfb;
                    position: relative;
                    padding-bottom: 90px;
                    width: 100%;
                    top: 145px;

                    section {
                        padding-top: 90px;
                        padding-bottom: 120px;
                        position: relative;
                        text-align: center;
                        margin: 0 auto;
                        width: 100%;
                        h2 {
                            text-align: center;
                            color: #2e2e2f;
                            text-transform: uppercase;
                            font-weight: 100;
                            font-size: 1.3em;
                            margin: 0;
                            margin-bottom: 10px;
                        }
                        #wrapper {
                            .tabs-line {
                                display: inline-block;
                                margin-bottom: 10px;
                            }
                            h3 {
                                background: #a9a9a9;
                                border-radius: 5px;
                                padding: 0 10px;
                                margin: 0 10px;
                                text-align: center;
                                color: #fff;
                                text-transform: uppercase;
                                font-weight: 100;
                                font-size: 1.2em;
                                transition: background .8s;
                            }
                            #bisness {
                                h3 {
                                    &:hover {
                                        cursor: pointer;
                                        background: #65b5de;
                                    }
                                    &.active-services {
                                        background: #65b5de;
                                    }
                                }
                            }
                            #family {
                                h3 {
                                    &:hover {
                                        cursor: pointer;
                                        background: #e6b41d;
                                    }
                                    &.active-services {
                                        background: #e6b41d;
                                    }
                                }
                            }
                            #turism {
                                h3 {
                                    &:hover {
                                        cursor: pointer;
                                        background: #8dad40;
                                    }
                                    &.active-services {
                                        background: #8dad40;
                                    }
                                }
                            }
                        }
                        #wrapper .none {
                            display: none;
                        }
                        #wrapper.tab1 div.tab1 {
                            background: none;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab2 div.tab2 {
                            background: none;
                            display: block;
                            width: 100%;
                        }
                        #wrapper.tab3 div.tab3 {
                            background: none;
                            display: block;
                            width: 100%;
                        }

                        #wrapper.tab1 .tab1 h3 {
                            background: #65b5de;
                        }

                        #wrapper.tab2 .tab2 h3 {
                            background: #e6b41d;
                        }
                        #wrapper.tab3 .tab3 h3 {
                            background: #8dad40;
                        }
                        .tab1, .tab2, .tab3 {
                            .description {
                                float: right;
                                padding: 10px 0;
                                width: 95%;
                                h4 {
                                    color: #65b5de;
                                    font-size: 0.9em;
                                    font-weight: 100;
                                    margin: 0;
                                    text-transform: uppercase;
                                }
                                .description-item {
                                    text-align: left;
                                    padding-bottom: 15px;
                                    img {
                                        float: left;
                                        margin-right: 15px;
                                        margin-bottom: 17px;
                                        width: 30px;
                                    }
                                    p {
                                        font-size: 0.8em;
                                        margin: 0;
                                    }
                                    small {
                                        font-size: 0.6em;
                                    }
                                }
                            }
                        }
                        .tab2 {
                            .description {
                                float: right;
                                padding-left: 0;
                                width: 95%;
                                h4 {
                                    color: #e6b41d;
                                }
                            }
                        }
                        .tab3 {
                            .description {
                                h4 {
                                    color: #8dad40;
                                }
                            }
                        }
                        .clearfix {
                            clear: both;
                        }
                    }
                }
                #section2 {
                    top: 100px;
                    section {
                        position: relative;
                        top: 120px;
                        width: 90%;
                        #wrapper2 {
                            h3 {
                                font-size: 0.9em;
                            }
                            .tabs-line {
                                margin-bottom: 30px;
                                margin-top: 0;
                            }
                            .tab1, .tab2, .tab3, .tab4 {
                                .gallery_avto {
                                    .panel {
                                        .status-description {
                                            display: none;
                                            p {
                                                line-height: 140%;
                                                font-size: 0.9em;
                                            }
                                            h2 {
                                                font-size: 1.1em;
                                                font-weight: 100;
                                            }
                                        }
                                        .big_transport {
                                            display: none;
                                            padding: 53px 40px;
                                            padding-bottom: 0;
                                            width: 40%;
                                            img {
                                                width: 100%;
                                                height: 272px;
                                            }
                                        }
                                        .description_transport {
                                            display: none;
                                            width: 25%;
                                            h2 {
                                                font-size: 1em;
                                            }
                                            .line-info {
                                                padding-top: 0;
                                                .right {
                                                    font-size: 0.7em;
                                                    width: 160px;
                                                }
                                            }
                                        }
                                        .bottom_panel {
                                            top: 50px;
                                            .part {
                                                .box_transport {
                                                    h2 {
                                                        font-size: 1em;
                                                    }
                                                    ul {
                                                        margin: 0;
                                                        li {
                                                            font-size: 0.75em;
                                                        }
                                                    }
                                                    img {
                                                        height: 50px;
                                                    }
                                                }
                                            }
                                            div.scrollingHotSpotLeft{
                                                height: 75%;
                                            }
                                            div.scrollingHotSpotRight{
                                                height: 75%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .scrollingHotSpotLeft{
                        background: url(../img/icons/leftArr.png) center center no-repeat rgba(0,0,0, .4);
                        left: 0;
                    }
                    .scrollingHotSpotRight{
                        background: url(../img/icons/rightArr.png) center center no-repeat rgba(0,0,0, .4);
                        right: 0;
                    }
                }
                .alert-message{
                    display: none;
                    .message-box{
                        padding: 10px;
                        top: 3%;
                        left: 3%;
                        margin-left: 0;
                        width: 88%;
                    }
                }
                #section3 {

                    #form-left-bg {
                        display: none;
                    }
                    #form-right-bg {
                        display: none;
                    }
                    #form {
                        top: 20px;
                        width: 90%;
                        h2 {
                            font-size: 1.2em;
                            float: right;
                            margin: 0 auto;
                            width: 300px;
                        }
                        form {
                            display: inline-block;
                            label {
                                font-size: 0.75em;
                                width: 59px;
                            }
                            input {
                                float: right;
                                padding-left: 10px;
                                margin: 6px 0;
                                font-size: 0.6em;
                                width: 68%;
                            }
                            .phone {
                                width: 57%;
                            }
                            textarea {
                                height: 85px;
                                width: 67.4%;
                            }
                        }
                        p {
                            width: 320px;
                        }
                    }
                }

                #section4 {
                    background: #1E1E1E;

                    #car {
                        background: #1E1E1E;
                        width: 100%;

                        #description-contact, #description-contact-2 {
                            padding: 5%;
                            padding-top: 30%;
                            h2 {
                                color: #fff;
                                text-align: center;
                                margin: 0;
                                margin-bottom: 10px;
                                font-size: 1.2em;
                                font-weight: 100;
                            }
                            .line-info {
                                border-bottom: 1px solid #4e4e4e;
                                padding: 8px 0;
                                color: #fff;
                                font-size: 0.75em;
                                text-align: left;
                                &.none-line {
                                    border-bottom: none;
                                    padding-top: 8px;
                                    .left{
                                        padding-top: 8px;
                                    }
                                }
                                .left {
                                    float: left;
                                    font-size: 1em;
                                }
                                .right {
                                    font-size: 0.9em;
                                    float: right;
                                    width: 170px;
                                    a {
                                        color: #2e79cc;
                                    }
                                }
                            }
                        }
                        #description-contact-2 {
                            padding: 0 0;
                            padding-top: 15px;
                            .line-info{
                                .right{
                                    width: 100px;
                                }
                            }
                        }
                        .clearfix {
                            clear: both;
                        }
                    }
                }

                #tel-icon {
                    animation: arrow-bottom 1s ease-in-out infinite;
                    background: url("../img/puncts/tel.png") no-repeat center center #78d843;
                    background-size: 60%;
                    display: none;
                    border-radius: 50%;
                    position: fixed;
                    bottom: 15px;
                    right: 10px;
                    height: 45px;
                    width: 45px;
                    z-index: 3;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
            @media only screen and (max-width: 320px) {}
