            @media only screen and (min-width: 1920px) {

            }
            
            @media only screen and (max-width: 1366px) {
              #menu {
                nav{
                  .center{
                    left: 33%;
                  }
                }
              }
              #section0{
                top: 207px;
                section{
                  top: 25px;
                  width: 65%;
                  h2{
                    font-size: 30px;
                  }
                  p{
                    font-size: 15px;
                  }
                  #bisnesman-1 {
                    background-size: 100%;
                  }
                }
              }
            }
            
            @media only screen and (max-width: 980px) {

            }
            
            @media only screen and (max-width: 800px) {

            }
            
            @media only screen and (max-width: 768px) {}
            
            @media only screen and (max-width: 360px) {

            }
            
            @media only screen and (max-width: 320px) {}
