@media only screen and (max-width: 1280px) and (max-height: 1024px) {
  @keyframes logo {
    /* line 1980, ../scss/media.scss */
    0% {
      opacity: 1;
    }

    /* line 1983, ../scss/media.scss */
    20% {
      opacity: 1;
    }

    /* line 1986, ../scss/media.scss */
    70% {
      transform: translate(0, 0px);
    }

    /* line 1995, ../scss/media.scss */
    100% {
      transform: translate(0px, -400px) scale(0.1);
    }
}

  @keyframes logo-speed {
    /* line 2001, ../scss/media.scss */
    0% {
      opacity: 1;
    }

    /* line 2004, ../scss/media.scss */
    20% {
      opacity: 1;
    }

    /* line 2007, ../scss/media.scss */
    100% {
      transform: translate(0px, -400px) scale(0.1);
    }
}

  /* line 2012, ../scss/media.scss */
  #makeMeScrollable {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 300px;
  }

  /* line 2020, ../scss/media.scss */
  .part {
    display: inline-block;
    margin: 0 14px;
    padding: 22px 0;
    width: 220px;
    height: 100%;
  }

  /* line 2027, ../scss/media.scss */
  #section0 {
    background: url("../img/bg-2.jpg") no-repeat bottom center #111519;
    background-size: cover;
    top: 73px;
    height: 92.4%;
    width: 100%;
    z-index: 1;
  }
  /* line 2035, ../scss/media.scss */
  #section0 section {
    position: relative;
    top: 0;
    text-align: center;
    padding-top: 40px;
    color: #fff;
    margin: 0 auto;
    width: 50%;
  }
  /* line 2045, ../scss/media.scss */
  #section0 section h2 {
    margin: 0;
    margin-top: 47px;
    font-family: "FiraSans-SemiBold", sans-serif;
    font-weight: 100;
    font-size: 1.75em;
    text-transform: uppercase;
  }
  /* line 2054, ../scss/media.scss */
  #section0 section .yellow-text {
    margin: 0;
    color: #e6b41d;
    margin-bottom: 5%;
  }
  /* line 2060, ../scss/media.scss */
  #section0 section p {
    font-family: "FiraSans-UltraLight", sans-serif;
    font-size: 0.825em;
    margin-bottom: 0;
  }
  /* line 2064, ../scss/media.scss */
  #section0 section p.yellow-text {
    position: absolute;
    padding-top: 0px;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 2;
  }
  /* line 2072, ../scss/media.scss */
  #section0 section p#img-bottom {
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 50%;
    right: 50%;
    margin-left: -12px;
    z-index: 2;
  }
  /* line 2082, ../scss/media.scss */
  #section0 section #luxe {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: -4%;
    text-align: center;
    z-index: 1;
    width: 100%;
  }
  /* line 2090, ../scss/media.scss */
  #section0 section #luxe img {
    width: 65.833333%;
  }
  /* line 2094, ../scss/media.scss */
  #section0 section #bisnesman-1 {
    position: relative;
    float: left;
    left: 10%;
    bottom: 0;
    text-align: center;
    padding: 0;
    height: 100%;
    margin: 0 auto;
    width: 33%;
    z-index: 2;
  }
  /* line 2105, ../scss/media.scss */
  #section0 section #bisnesman-1 img {
    height: 100%;
    width: 100%;
  }
  /* line 2109, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-1, #section0 section #bisnesman-1 .punkt-2, #section0 section #bisnesman-1 .punkt-3 {
    animation: punkt 3s ease-in-out;
    background: url("../img/puncts/punkt-1.png") no-repeat right;
    position: absolute;
    top: 0;
    right: 60%;
    overflow: hidden;
    height: 115px;
    width: 453px;
  }
  /* line 2118, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-1 h3, #section0 section #bisnesman-1 .punkt-2 h3, #section0 section #bisnesman-1 .punkt-3 h3 {
    animation: punkt-text 3s ease-in-out 3s;
    font-family: "FiraSans-Medium", sans-serif;
    font-weight: 100;
    opacity: 0;
    text-transform: uppercase;
    font-size: 1.375em;
    margin: 15px 0;
  }
  /* line 2127, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-1 span, #section0 section #bisnesman-1 .punkt-2 span, #section0 section #bisnesman-1 .punkt-3 span {
    animation: punkt-text 3s ease-in-out 3s;
    font-size: 1em;
    opacity: 0;
    font-family: "FiraSans-Book", sans-serif;
  }
  /* line 2134, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-2 {
    background: url("../img/puncts/punkt-2.png") no-repeat right;
    top: 40%;
    right: 62%;
  }
  /* line 2138, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-2 h3 {
    margin: 5px 0;
    margin-top: 30px;
  }
  /* line 2143, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-3 {
    background: url("../img/puncts/punkt-3.png") no-repeat right;
    top: 65%;
    right: 65%;
  }
  /* line 2147, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-3 h3 {
    margin: 5px 0;
    margin-top: 59px;
    margin-left: -100px;
  }
  /* line 2152, ../scss/media.scss */
  #section0 section #bisnesman-1 .punkt-3 span {
    margin-left: -100px;
  }
  /* line 2157, ../scss/media.scss */
  #section0 section #bisnesman-2 {
    position: relative;
    float: right;
    right: 13%;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
    width: 25%;
    z-index: 2;
  }
  /* line 2167, ../scss/media.scss */
  #section0 section #bisnesman-2 img {
    height: 100%;
    width: 100%;
  }
  /* line 2172, ../scss/media.scss */
  #section0 section #bisnesman-2 .punkt-1, #section0 section #bisnesman-2 .punkt-2 {
    animation: punkt 3s ease-in-out;
    background: url("../img/puncts/punkt-4.png") no-repeat left;
    position: absolute;
    left: 72%;
    top: 10%;
    overflow: hidden;
    height: 115px;
    width: 430px;
  }
  /* line 2181, ../scss/media.scss */
  #section0 section #bisnesman-2 .punkt-1 h3, #section0 section #bisnesman-2 .punkt-2 h3 {
    animation: punkt-text 3s ease-in-out 3s;
    font-family: "FiraSans-Medium", sans-serif;
    font-weight: 100;
    opacity: 0;
    text-transform: uppercase;
    font-size: 1.375em;
    margin: 15px 0;
  }
  /* line 2190, ../scss/media.scss */
  #section0 section #bisnesman-2 .punkt-1 span, #section0 section #bisnesman-2 .punkt-2 span {
    animation: punkt-text 3s ease-in-out 3s;
    font-size: 1em;
    opacity: 0;
    font-family: "FiraSans-Book", sans-serif;
  }
  /* line 2197, ../scss/media.scss */
  #section0 section #bisnesman-2 .punkt-2 {
    background: url("../img/puncts/punkt-5.png") no-repeat left;
    top: 48%;
    left: 63%;
  }
  /* line 2201, ../scss/media.scss */
  #section0 section #bisnesman-2 .punkt-2 h3 {
    margin: 5px 0;
    margin-top: 30px;
  }
  /* line 2207, ../scss/media.scss */
  #section0 section #img-bottom img {
    animation: arrow-bottom 1s ease-in-out infinite;
  }

  /* line 2215, ../scss/media.scss */
  #section1 section {
    width: 100%;
  }
  /* line 2218, ../scss/media.scss */
  #section1 section #wrapper.tab1 div.tab1 {
    background: url("../img/bisness.png") no-repeat left top;
    background-size: 55%;
    display: block;
    width: 100%;
  }
  /* line 2224, ../scss/media.scss */
  #section1 section #wrapper.tab2 div.tab2 {
    background: url("../img/family.png") no-repeat right top;
    background-size: 49%;
    background-position: 87% center;
    display: block;
    width: 100%;
  }
  /* line 2231, ../scss/media.scss */
  #section1 section #wrapper.tab3 div.tab3 {
    background: url("../img/turism.png") no-repeat left top;
    background-size: 50%;
    background-position: 12% center;
    display: block;
    width: 100%;
  }
  /* line 2239, ../scss/media.scss */
  #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
    width: 34%;
  }
  /* line 2242, ../scss/media.scss */
  #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
    text-align: left;
    padding-bottom: 20px;
  }
  /* line 2249, ../scss/media.scss */
  #section1 section .tab2 .description {
    float: left;
    padding-left: 160px;
  }
  /* line 2252, ../scss/media.scss */
  #section1 section .tab2 .description .h4 {
    color: #e6b41d;
  }
  /* line 2259, ../scss/media.scss */
  #section1 section .tab3 .description .h4 {
    color: #8dad40;
  }
  /* line 2264, ../scss/media.scss */
  #section1 section .clearfix {
    clear: both;
  }

  /* line 2270, ../scss/media.scss */
  #section2 {
    background: url("../img/car_park.jpg") no-repeat center #020204;
    background-size: 110%;
    background-position: 50% -130px;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
  }
  /* line 2279, ../scss/media.scss */
  #section2 section {
    margin: 0 auto;
    height: 100%;
    width: 90%;
  }
  /* line 2283, ../scss/media.scss */
  #section2 section #wrapper2 {
    text-align: center;
    position: relative;
    height: 100%;
  }
  /* line 2287, ../scss/media.scss */
  #section2 section #wrapper2 .tabs-line {
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 95px;
  }
  /* line 2292, ../scss/media.scss */
  #section2 section #wrapper2 h3 {
    background: #a9a9a9;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    color: #fff;
    font-family: "FiraSans-Medium", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.7em;
    transition: background .8s;
  }
  /* line 2304, ../scss/media.scss */
  #section2 section #wrapper2 h3:hover {
    background: #c62b30;
    cursor: pointer;
  }
  /* line 2310, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto, #section2 section #wrapper2 .tab2 .gallery_avto, #section2 section #wrapper2 .tab3 .gallery_avto, #section2 section #wrapper2 .tab4 .gallery_avto {
    height: 100%;
    width: 100%;
  }
  /* line 2313, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel {
    height: 100%;
    width: 100%;
  }
  /* line 2316, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description {
    float: left;
    text-align: left;
    width: 25%;
  }
  /* line 2320, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description h2 {
    color: #fff;
    font-family: "FiraSans-UltraLight", sans-serif;
    font-size: 1.6em;
    margin: 0;
  }
  /* line 2326, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description p {
    font-family: "FiraSans-UltraLight", sans-serif;
    color: #fff;
    margin: 0;
    line-height: 180%;
  }
  /* line 2333, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport {
    float: left;
    width: 40%;
    padding: 135px 40px;
  }
  /* line 2337, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport img {
    width: 100%;
  }
  /* line 2340, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.jeep-big {
    padding: 75px 40px;
  }
  /* line 2343, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.cars-big {
    padding: 135px 40px;
  }
  /* line 2347, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport {
    float: left;
    width: 25%;
  }
  /* line 2350, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport h2 {
    text-align: left;
    color: #fff;
    font-family: "FiraSans-SemiBold", sans-serif;
    font-size: 1.6em;
    font-weight: 100;
    text-shadow: 1px -1px 14px #fff;
    margin: 0;
    margin-bottom: 5px;
  }
  /* line 2360, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info {
    border-bottom: 1px solid #666d7b;
    padding-top: 8px;
    color: #fff;
    font-size: 1em;
    text-align: left;
    width: 100%;
  }
  /* line 2367, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info.none-line, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info.none-line, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info.none-line, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info.none-line {
    border-bottom: none;
    padding: 0;
  }
  /* line 2370, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info.none-line .left, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info.none-line .left, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info.none-line .left, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info.none-line .left {
    padding-top: 8px;
  }
  /* line 2374, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info p, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info p, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info p, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info p {
    color: #fff;
    height: 25px;
  }
  /* line 2378, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .left {
    float: left;
    font-size: 0.8em;
    font-family: "FiraSans-Book", sans-serif;
    font-weight: bold;
  }
  /* line 2384, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .red, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .red, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .red, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .red {
    color: #fff;
    padding-top: 0px;
    font-size: 1.3em;
    font-family: "FiraSans-Book", sans-serif;
  }
  /* line 2390, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right {
    font-size: 0.8em;
    font-family: "FiraSans-UltraLight", sans-serif;
    float: right;
    width: 50%;
  }
  /* line 2395, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right.last, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right.last, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right.last, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right.last {
    padding-top: 10px;
  }
  /* line 2398, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right a, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right a, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right a, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right a {
    color: #2e79cc;
    text-decoration: none;
  }
  /* line 2406, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  /* line 2410, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel.gruz {
    padding-top: 40px;
  }
  /* line 2413, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport {
    border-radius: 8px;
    background: #fff;
    background: -webkit-linear-gradient(top, white 14%, #868ea1 100%);
    box-shadow: 0 0 0 0 #fff;
    font-family: "BloggerSans-Medium", sans-serif;
    float: left;
    transition: background 0.8s, box-shadow 0.8s;
    width: 100%;
  }
  /* line 2423, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport.active, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport.active, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport.active, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport.active {
    box-shadow: 0 0 20px 0 #fff;
    background: -webkit-linear-gradient(top, white 14%, white 100%);
    cursor: pointer;
  }
  /* line 2429, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .des-small, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .des-small, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .des-small, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .des-small {
    padding: 5px 15px;
  }
  /* line 2431, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .des-small .regular, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .des-small .regular, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .des-small .regular, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .des-small .regular {
    font-family: "FiraSans-Regular", sans-serif;
    font-weight: 100;
  }
  /* line 2436, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .status_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .status_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .status_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .status_transport {
    color: #fff;
    font-weight: 100;
    padding: 10px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  /* line 2442, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .status_transport.econom, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .status_transport.econom, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .status_transport.econom, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .status_transport.econom {
    background: #e6b41d;
  }
  /* line 2445, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .status_transport.bisnes, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .status_transport.bisnes, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .status_transport.bisnes, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .status_transport.bisnes {
    background: #3a67ba;
  }
  /* line 2448, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport .status_transport.representative, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport .status_transport.representative, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport .status_transport.representative, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport .status_transport.representative {
    background: #171c23;
  }
  /* line 2453, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport:hover, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport:hover, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport:hover, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport:hover {
    box-shadow: 0 0 20px 0 #fff;
    background: -webkit-linear-gradient(top, white 14%, white 100%);
    cursor: pointer;
  }
  /* line 2459, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport h4, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport h4, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport h4, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport h4 {
    text-align: left;
    margin: 0;
  }
  /* line 2463, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport img {
    text-align: center;
    height: 60px;
  }
  /* line 2467, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport h2 {
    text-align: left;
    margin: 0;
    font-size: 1em;
    font-weight: 100;
    border-bottom: 2px solid #9da1aa;
    padding-bottom: 5px;
  }
  /* line 2475, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport ul, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport ul, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport ul, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport ul {
    text-align: left;
    padding: 0;
  }
  /* line 2478, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport ul li, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport ul li, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport ul li, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport ul li {
    list-style: none;
    font-weight: 100;
  }
  /* line 2482, ../scss/media.scss */
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .box_transport ul .red, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .box_transport ul .red, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .box_transport ul .red, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .box_transport ul .red {
    color: #ca272f;
    font-size: 1.2em;
    font-weight: bold;
  }
  /* line 2493, ../scss/media.scss */
  #section2 section #wrapper2 .clearfix {
    clear: both;
  }
  /* line 2497, ../scss/media.scss */
  #section2 section #wrapper2 .none {
    display: none;
  }
  /* line 2500, ../scss/media.scss */
  #section2 section #wrapper2.tab1 div.tab1 {
    display: block;
    width: 100%;
  }
  /* line 2504, ../scss/media.scss */
  #section2 section #wrapper2.tab2 div.tab2 {
    display: block;
    width: 100%;
  }
  /* line 2508, ../scss/media.scss */
  #section2 section #wrapper2.tab3 div.tab3 {
    display: block;
    width: 100%;
  }
  /* line 2512, ../scss/media.scss */
  #section2 section #wrapper2.tab4 div.tab4 {
    display: block;
    width: 100%;
  }
  /* line 2516, ../scss/media.scss */
  #section2 section #wrapper2 h3 {
    box-shadow: 1px 3px 15px -2px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 2px 0px #969696;
  }
  /* line 2520, ../scss/media.scss */
  #section2 section #wrapper2.tab1 .tab1 h3 {
    background: #c62b30;
  }
  /* line 2523, ../scss/media.scss */
  #section2 section #wrapper2.tab2 .tab2 h3 {
    background: #c62b30;
  }
  /* line 2526, ../scss/media.scss */
  #section2 section #wrapper2.tab3 .tab3 h3 {
    background: #c62b30;
  }
  /* line 2529, ../scss/media.scss */
  #section2 section #wrapper2.tab4 .tab4 h3 {
    background: #c62b30;
  }

  /* line 2535, ../scss/media.scss */
  #section3 {
    position: relative;
    height: 100%;
    width: 100%;
  }
  /* line 2539, ../scss/media.scss */
  #section3 #form-left-bg {
    background: url("../img/bid.png") no-repeat;
    background-size: 35%;
    background-position: 472px 450px;
    position: absolute;
    top: 0;
    left: -500px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  /* line 2550, ../scss/media.scss */
  #section3 #form-right-bg {
    background: url("../img/bid-right.png") no-repeat;
    background-size: 33%;
    background-position: right 450px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  /* line 2561, ../scss/media.scss */
  #section3 #form {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.51);
    position: relative;
    margin: 0 auto;
    font-family: "BloggerSans", sans-serif;
    padding: 3% 6%;
    top: 160px;
    width: 38%;
    z-index: 2;
  }
  /* line 2572, ../scss/media.scss */
  #section3 #form h2 {
    color: #3f3f3f;
    text-align: center;
    font-family: "BloggerSans", sans-serif;
    float: right;
    width: 397px;
  }
  /* line 2579, ../scss/media.scss */
  #section3 #form form {
    display: inline-block;
  }
  /* line 2581, ../scss/media.scss */
  #section3 #form form label {
    color: #3c3c3c;
    float: left;
    text-align: right;
    padding: 11px 0;
    font-size: 1.1em;
    width: 120px;
  }
  /* line 2588, ../scss/media.scss */
  #section3 #form form label:hover {
    cursor: pointer;
  }
  /* line 2592, ../scss/media.scss */
  #section3 #form form input {
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #b1b1b1;
    height: 35px;
    float: right;
    padding-left: 10px;
    margin: 6px 0;
    font-size: 1em;
    width: 68%;
  }
  /* line 2603, ../scss/media.scss */
  #section3 #form form .number-l {
    padding: 2px 0;
  }
  /* line 2606, ../scss/media.scss */
  #section3 #form form .additionally-l {
    padding: 0px 0;
  }
  /* line 2609, ../scss/media.scss */
  #section3 #form form .phone {
    background: url("../img/icons/number.png") no-repeat;
    background-position: 10px;
    padding-left: 45px;
    margin-bottom: 12px;
    width: 60.3%;
  }
  /* line 2617, ../scss/media.scss */
  #section3 #form form #text-p {
    position: relative;
    right: -21px;
  }
  /* line 2621, ../scss/media.scss */
  #section3 #form form textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 10px;
    color: #b1b1b1;
    float: right;
    height: 150px;
    width: 67.7%;
  }
  /* line 2630, ../scss/media.scss */
  #section3 #form form .btn {
    background: #a9a9a9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 24px auto;
    margin-bottom: 0;
    position: relative;
    left: 49%;
    float: none;
    padding: 1px 0;
    font-size: 1em;
    text-transform: uppercase;
    height: 57px;
    width: 32%;
  }
  /* line 2646, ../scss/media.scss */
  #section3 #form form .btn.true {
    background: #e6b41d;
  }
  /* line 2650, ../scss/media.scss */
  #section3 #form form .red {
    color: #ca272f;
  }
  /* line 2654, ../scss/media.scss */
  #section3 #form p {
    font-family: "BloggerSans", sans-serif;
    text-align: center;
    font-weight: bold;
    float: right;
    width: 340px;
  }
  /* line 2662, ../scss/media.scss */
  #section3 .clearfix {
    clear: both;
  }

  /* line 2668, ../scss/media.scss */
  #section4 {
    background: url("../img/contact.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  /* line 2674, ../scss/media.scss */
  #section4 #car {
    background: url("../img/car.png") no-repeat center bottom;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 55%;
  }
  /* line 2682, ../scss/media.scss */
  #section4 #car #block-adress {
    position: absolute;
    left: 50%;
    margin-left: -223px;
    bottom: 156px;
    width: 82%;
  }
  /* line 2690, ../scss/media.scss */
  #section4 #car #description-contact, #section4 #car #description-contact-2 {
    padding: 0;
    font-family: "BloggerSans", sans-serif;
    color: #fff;
    width: 81%;
  }
  /* line 2695, ../scss/media.scss */
  #section4 #car #description-contact h2, #section4 #car #description-contact-2 h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-family: "BloggerSans-Medium", sans-serif;
    font-size: 1.2em;
    font-weight: 100;
  }
  /* line 2704, ../scss/media.scss */
  #section4 #car #description-contact .line-info, #section4 #car #description-contact-2 .line-info {
    border-bottom: 1px solid #4e4e4e;
    padding: 4px 0;
    color: #fff;
    font-size: 0.9em;
    text-align: left;
    width: 100%;
  }
  /* line 2711, ../scss/media.scss */
  #section4 #car #description-contact .line-info.none-line, #section4 #car #description-contact-2 .line-info.none-line {
    border-bottom: none;
    padding-top: 8px;
  }
  /* line 2714, ../scss/media.scss */
  #section4 #car #description-contact .line-info.none-line .left, #section4 #car #description-contact-2 .line-info.none-line .left {
    padding-top: 8px;
  }
  /* line 2718, ../scss/media.scss */
  #section4 #car #description-contact .line-info .left, #section4 #car #description-contact-2 .line-info .left {
    float: left;
    font-size: 1em;
    font-family: "BloggerSans", sans-serif;
  }
  /* line 2723, ../scss/media.scss */
  #section4 #car #description-contact .line-info .right, #section4 #car #description-contact-2 .line-info .right {
    font-size: 0.9em;
    font-family: "BloggerSans", sans-serif;
    text-align: right;
    float: right;
    width: 70%;
  }
  /* line 2729, ../scss/media.scss */
  #section4 #car #description-contact .line-info .right a, #section4 #car #description-contact-2 .line-info .right a {
    color: #2e79cc;
  }
  /* line 2731, ../scss/media.scss */
  #section4 #car #description-contact .line-info .right a:last-child, #section4 #car #description-contact-2 .line-info .right a:last-child {
    margin-left: 15px;
  }
  /* line 2738, ../scss/media.scss */
  #section4 #car #description-contact-2 {
    padding: 0 10%;
    padding-top: 15px;
  }
  /* line 2742, ../scss/media.scss */
  #section4 #car #description-contact-2 .line-info .right {
    width: 40%;
  }
  /* line 2747, ../scss/media.scss */
  #section4 #car .clearfix {
    clear: both;
  }
}
