@media only screen and (min-width: 1920px) {
  #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel {
    top: 400px; } }

@media only screen and (max-width: 1366px) {
  @keyframes logo {
    0% {
      opacity: 1; }
    20% {
      opacity: 1; }
    70% {
      transform: translate(0, 0px); }
    90% { }
    95% { }
    100% {
      transform: translate(0px, -235px) scale(0.1); } }
  #makeMeScrollable2, #makeMeScrollable3, #makeMeScrollable4 {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 310px; }
  .part {
    width: 220px; }
  div.scrollingHotSpotLeft, div.scrollingHotSpotRight {
    height: 70%; }
  .alert-message .message-box {
    background: #fff;
    box-shadow: 0 0 13px 0 #fff;
    padding: 5px;
    position: fixed;
    top: 13%;
    left: 50%;
    margin-left: -290px;
    width: 43%;
    z-index: 101; }
    .alert-message .message-box .close {
      background: url("../img/icons/close.png") no-repeat center center;
      position: absolute;
      right: 5px;
      top: 5px;
      height: 32px;
      width: 32px; }
      .alert-message .message-box .close:hover {
        cursor: pointer; }
    .alert-message .message-box h2 {
      color: #3f3f3f;
      font-weight: 100;
      text-align: center;
      float: right;
      width: 89%; }
    .alert-message .message-box form label {
      color: #3c3c3c;
      float: left;
      text-align: right;
      padding: 11px 14px 11px 0px;
      font-size: 1.1em;
      width: 130px; }
      .alert-message .message-box form label:hover {
        cursor: pointer; }
    .alert-message .message-box form input {
      border-radius: 3px;
      border: 1px solid #ccc;
      color: #b1b1b1;
      height: 35px;
      float: left;
      padding-left: 10px;
      margin: 6px 0;
      font-size: 1em;
      width: 60%; }
    .alert-message .message-box form textarea {
      border-radius: 3px;
      border: 1px solid #ccc;
      padding-left: 10px;
      color: #b1b1b1;
      float: left;
      height: 150px;
      width: 60%; }
    .alert-message .message-box form .clearfix {
      clear: both; }
    .alert-message .message-box form .number-l {
      padding: 2px 15px 2px 0; }
    .alert-message .message-box form .additionally-l {
      padding: 0px 0;
      margin-right: 15px; }
    .alert-message .message-box form .phone {
      background: url("../img/icons/number.png") no-repeat;
      background-position: 10px;
      padding-left: 45px;
      margin-bottom: 12px;
      width: 54%; }
    .alert-message .message-box form .btn {
      background: #a9a9a9;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: #fff;
      margin: 24px auto;
      margin-bottom: 0;
      position: relative;
      left: 42%;
      float: none;
      padding: 1px 0;
      font-size: 1em;
      text-transform: uppercase;
      height: 57px;
      width: 32%; }
      .alert-message .message-box form .btn.true {
        background: #e6b41d; }
    .alert-message .message-box form p {
      text-align: center;
      float: right;
      width: 84%; }
    .alert-message .message-box form .red {
      color: #ca272f; }
  @keyframes punkt {
    0% {
      opacity: 0;
      width: 8px; }
    50% {
      opacity: 1;
      width: 8px; }
    100% {
      width: 300px; } }
  #home table {
    height: 40em; }
    #home table .center-td {
      padding-top: 4%; }
  #home #logo {
    animation: logo 6s ease-in 4s 1; }
  #menu nav .center {
    left: 34.3%; }
  #menu nav ul li {
    font-size: 13px; }
  #section0 {
    background-position: -95px -59px;
    top: 0; }
    #section0 section {
      top: 0;
      width: 65%; }
      #section0 section h2 {
        font-size: 30px; }
      #section0 section p {
        font-size: 14px;
        margin: 0; }
        #section0 section p.yellow-text {
          padding-top: 290px; }
      #section0 section #bisnesman-1 {
        background-size: 100%;
        height: 370px;
        width: 230px; }
        #section0 section #bisnesman-1 .punkt-1,
        #section0 section #bisnesman-1 .punkt-2,
        #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-1.png") no-repeat right;
          background-size: 100%;
          right: 150px;
          top: -20px;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-1 .punkt-1 h3,
          #section0 section #bisnesman-1 .punkt-2 h3,
          #section0 section #bisnesman-1 .punkt-3 h3 {
            font-size: 18px;
            margin: 0;
            margin-top: 30px;
            margin-left: -10px; }
          #section0 section #bisnesman-1 .punkt-1 span,
          #section0 section #bisnesman-1 .punkt-2 span,
          #section0 section #bisnesman-1 .punkt-3 span {
            font-size: 12px;
            margin-left: -10px; }
        #section0 section #bisnesman-1 .punkt-2 {
          background: url("../img/puncts/punkt-2.png") no-repeat right;
          background-size: 100%;
          top: 150px;
          right: 165px; }
          #section0 section #bisnesman-1 .punkt-2 h3 {
            margin: 5px 0;
            margin-top: 33px; }
          #section0 section #bisnesman-1 .punkt-2 span {
            margin-left: -2px; }
        #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-3.png") no-repeat right;
          background-size: 100%;
          top: 250px;
          right: 180px; }
          #section0 section #bisnesman-1 .punkt-3 h3 {
            margin: 5px 0;
            margin-top: 53px;
            margin-left: -55px; }
          #section0 section #bisnesman-1 .punkt-3 span {
            margin-left: -60px; }
      #section0 section #bisnesman-2 {
        background-size: 100%;
        right: 92px;
        height: 370px;
        width: 178px; }
        #section0 section #bisnesman-2 .punkt-1,
        #section0 section #bisnesman-2 .punkt-2 {
          animation: punkt 3s ease-in-out;
          background: url("../img/puncts/punkt-4.png") no-repeat left;
          background-size: 100%;
          position: absolute;
          top: 30px;
          overflow: hidden;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-2 .punkt-1 h3,
          #section0 section #bisnesman-2 .punkt-2 h3 {
            font-size: 18px;
            margin: 0 5px;
            margin-top: 30px;
            margin-left: 30px; }
          #section0 section #bisnesman-2 .punkt-1 span,
          #section0 section #bisnesman-2 .punkt-2 span {
            font-size: 12px;
            margin-left: 30px;
            opacity: 0; }
        #section0 section #bisnesman-2 .punkt-1 {
          left: 140px; }
        #section0 section #bisnesman-2 .punkt-2 {
          background: url("../img/puncts/punkt-5.png") no-repeat left;
          background-size: 100%;
          top: 190px;
          left: 115px; }
          #section0 section #bisnesman-2 .punkt-2 h3 {
            margin: 5px 5px;
            margin-top: 33px; }
          #section0 section #bisnesman-2 .punkt-2 span {
            font-size: 12px;
            margin-left: 20px; }
  #section1 section {
    padding-top: 0;
    width: 100%; }
    #section1 section #wrapper.tab1 div.tab1 {
      background: url("../img/bisness.png") no-repeat left top;
      background-size: 43%;
      background-position: 80px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab2 div.tab2 {
      background: url("../img/family.png") no-repeat right top;
      background-size: 39%;
      background-position: 540px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab3 div.tab3 {
      background: url("../img/turism.png") no-repeat left top;
      background-size: 37%;
      background-position: 220px;
      display: block;
      width: 100%; }
    #section1 section h2 {
      margin: 11px 0; }
    #section1 section #wrapper h3 {
      font-size: 22px; }
    #section1 section #wrapper .tabs-line {
      display: inline-block;
      margin-bottom: 15px; }
    #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
      padding: 0px 200px; }
      #section1 section .tab1 .description .h4, #section1 section .tab2 .description .h4, #section1 section .tab3 .description .h4 {
        font-size: 1.6em; }
      #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
        padding-bottom: 9px; }
        #section1 section .tab1 .description .description-item P, #section1 section .tab2 .description .description-item P, #section1 section .tab3 .description .description-item P {
          font-size: 0.9em; }
        #section1 section .tab1 .description .description-item img, #section1 section .tab2 .description .description-item img, #section1 section .tab3 .description .description-item img {
          width: 35px;
          margin-bottom: 12px; }
        #section1 section .tab1 .description .description-item small, #section1 section .tab2 .description .description-item small, #section1 section .tab3 .description .description-item small {
          font-size: 13px; }
  #section2 {
    background: url("../img/car_park.jpg") no-repeat center #020204;
    background-size: 110%;
    background-position: 50% -130px; }
    #section2 section {
      width: 90%; }
      #section2 section #wrapper2 h3 {
        font-size: 0.9em; }
      #section2 section #wrapper2 .tabs-line {
        margin-bottom: 20px;
        margin-top: 20px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description p {
        line-height: 140%;
        font-size: 0.9em; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description h2 {
        font-size: 1.1em;
        font-weight: 100; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport {
        padding: 75px 40px;
        padding-bottom: 0;
        width: 40%; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport img {
          width: 85%;
          height: auto; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.jeep-big {
          padding: 65px 40px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.cars-big {
          padding: 75px 40px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport {
        width: 26%; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport h2 {
          font-size: 1.2em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info {
          padding-top: 0; }
          #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right {
            font-size: 0.8em;
            width: 160px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel {
        top: 288px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel.gruz {
          top: 270px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport h2 {
          font-size: 1em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport {
          padding: 3px 10px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul {
          margin: 0; }
          #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul li {
            font-size: 0.75em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport img {
          height: 50px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport.active, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport.active, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport.active, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport.active {
          box-shadow: 0 0 20px 0 #fff; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport:hover, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport:hover, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport:hover, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport:hover {
          box-shadow: 0 0 20px 0 #fff; }
  #section3 #form-left-bg {
    background: url("../img/bid.png") no-repeat;
    background-position: center 237px;
    background-size: 38%;
    left: -400px; }
  #section3 #form-right-bg {
    background: url("../img/bid-right.png") no-repeat;
    background-position: 890px 250px;
    background-size: 33%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  #section3 #form {
    padding: 0 5%;
    width: 35%; }
    #section3 #form h2 {
      margin: 0;
      padding: 10px 0; }
    #section3 #form form textarea {
      height: 100px; }
    #section3 #form form .btn {
      margin: 15px auto; }
    #section3 #form p {
      margin-top: 0; }
  #section4 #car #description-contact {
    padding-top: 21%; }
    #section4 #car #description-contact h2 {
      padding-top: 5px;
      font-size: 1em; }
    #section4 #car #description-contact .line-info {
      border-bottom: 1px solid #4e4e4e;
      padding: 5px 0;
      color: #fff;
      font-size: 1.1em;
      text-align: left; }
      #section4 #car #description-contact .line-info.none-line {
        border-bottom: none;
        padding-top: 8px; }
        #section4 #car #description-contact .line-info.none-line .left {
          padding-top: 8px; }
      #section4 #car #description-contact .line-info .left {
        float: left;
        font-size: 0.75em; }
      #section4 #car #description-contact .line-info .right {
        font-size: 0.75em;
        float: right;
        width: 220px; }
        #section4 #car #description-contact .line-info .right a {
          color: #2e79cc; }
  #section4 #car #description-contact-2 {
    padding: 0 10%;
    padding-top: 15px; }
    #section4 #car #description-contact-2 .line-info .right {
      width: 120px; }
  #tel-icon {
    bottom: 15px;
    right: 50px; } }

@media only screen and (max-width: 1280px) {
  .alert-message .message-box {
    top: 2%;
    margin-left: -200px;
    width: 28%; }
  @keyframes punkt {
    0% {
      opacity: 0;
      width: 8px; }
    50% {
      opacity: 1;
      width: 8px; }
    100% {
      width: 300px; } }
  #home table {
    height: 40em; }
    #home table .center-td {
      padding-top: 4%; }
  #menu nav .center {
    left: 33%; }
  #section0 {
    top: 0px; }
    #section0 section {
      top: 53px;
      width: 65%; }
      #section0 section h2 {
        font-size: 30px; }
      #section0 section p {
        font-size: 14px;
        margin: 0; }
        #section0 section p.yellow-text {
          padding-top: 255px; }
      #section0 section #bisnesman-1 {
        background-size: 100%;
        height: 370px;
        width: 230px; }
        #section0 section #bisnesman-1 .punkt-1,
        #section0 section #bisnesman-1 .punkt-2,
        #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-1.png") no-repeat right;
          background-size: 100%;
          right: 150px;
          top: -20px;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-1 .punkt-1 h3,
          #section0 section #bisnesman-1 .punkt-2 h3,
          #section0 section #bisnesman-1 .punkt-3 h3 {
            font-size: 18px;
            margin: 0;
            margin-top: 30px; }
          #section0 section #bisnesman-1 .punkt-1 span,
          #section0 section #bisnesman-1 .punkt-2 span,
          #section0 section #bisnesman-1 .punkt-3 span {
            font-size: 12px; }
        #section0 section #bisnesman-1 .punkt-2 {
          background: url("../img/puncts/punkt-2.png") no-repeat right;
          background-size: 100%;
          top: 150px;
          right: 165px; }
          #section0 section #bisnesman-1 .punkt-2 h3 {
            margin: 5px 0;
            margin-top: 33px; }
        #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-3.png") no-repeat right;
          background-size: 100%;
          top: 250px;
          right: 180px; }
          #section0 section #bisnesman-1 .punkt-3 h3 {
            margin: 5px 0;
            margin-top: 53px;
            margin-left: -50px; }
          #section0 section #bisnesman-1 .punkt-3 span {
            margin-left: -50px; }
      #section0 section #bisnesman-2 {
        background-size: 100%;
        right: 92px;
        height: 370px;
        width: 178px; }
        #section0 section #bisnesman-2 .punkt-1,
        #section0 section #bisnesman-2 .punkt-2 {
          animation: punkt 3s ease-in-out;
          background: url("../img/puncts/punkt-4.png") no-repeat left;
          background-size: 100%;
          position: absolute;
          top: 30px;
          overflow: hidden;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-2 .punkt-1 h3,
          #section0 section #bisnesman-2 .punkt-2 h3 {
            font-size: 18px;
            margin: 0 5px;
            margin-top: 30px; }
          #section0 section #bisnesman-2 .punkt-1 span,
          #section0 section #bisnesman-2 .punkt-2 span {
            font-size: 12px;
            opacity: 0; }
        #section0 section #bisnesman-2 .punkt-1 {
          left: 140px; }
        #section0 section #bisnesman-2 .punkt-2 {
          background: url("../img/puncts/punkt-5.png") no-repeat left;
          background-size: 100%;
          top: 190px;
          left: 115px; }
          #section0 section #bisnesman-2 .punkt-2 h3 {
            margin: 5px 5px;
            margin-top: 33px; }
  #section1 section {
    padding-top: 43px;
    width: 100%; }
    #section1 section #wrapper.tab1 div.tab1 {
      background: url("../img/bisness.png") no-repeat left top;
      background-size: 43%;
      background-position: 80px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab2 div.tab2 {
      background: url("../img/family.png") no-repeat right top;
      background-size: 39%;
      background-position: 540px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab3 div.tab3 {
      background: url("../img/turism.png") no-repeat left top;
      background-size: 43%;
      background-position: 220px;
      display: block;
      width: 100%; }
    #section1 section h2 {
      margin-bottom: 5px; }
    #section1 section #wrapper h3 {
      font-size: 22px; }
    #section1 section #wrapper .tabs-line {
      display: inline-block;
      margin-bottom: 10px; }
    #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
      padding: 10px 200px; }
      #section1 section .tab1 .description .h4, #section1 section .tab2 .description .h4, #section1 section .tab3 .description .h4 {
        font-size: 1.2em; }
      #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
        padding-bottom: 9px; }
        #section1 section .tab1 .description .description-item P, #section1 section .tab2 .description .description-item P, #section1 section .tab3 .description .description-item P {
          font-size: 0.9em; }
        #section1 section .tab1 .description .description-item img, #section1 section .tab2 .description .description-item img, #section1 section .tab3 .description .description-item img {
          width: 31px;
          margin-bottom: 12px; }
        #section1 section .tab1 .description .description-item small, #section1 section .tab2 .description .description-item small, #section1 section .tab3 .description .description-item small {
          font-size: 10px; }
  #section2 section {
    width: 90%; }
    #section2 section #wrapper2 h3 {
      font-size: 0.8em; }
    #section2 section #wrapper2 .tabs-line {
      margin-bottom: 20px;
      margin-top: 90px; }
    #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description p {
      line-height: 140%;
      font-size: 0.9em; }
    #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description h2 {
      font-size: 1.1em;
      font-weight: 100; }
    #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport {
      padding: 37px 40px;
      padding-bottom: 0;
      width: 40%; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport img {
        width: 100%;
        height: 272px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.jeep-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.jeep-big {
        padding: 0 40px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport.cars-big, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport.cars-big {
        padding: 50px 40px; }
    #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport {
      width: 25%; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport h2 {
        font-size: 1em; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info {
        padding-top: 0; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right {
          font-size: 0.7em;
          width: 160px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .left, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .left {
          font-size: 0.8em; }
    #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel {
      top: 233px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel.gruz, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel.gruz {
        padding-top: 25px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport h2 {
        font-size: 1em; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul {
        margin: 0; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul li {
          font-size: 0.75em; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport img {
        height: 40px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport .status_transport {
        padding: 2px 10px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft {
        height: 75%; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight {
        height: 75%; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part {
        width: 215px; }
  #section3 #form-left-bg {
    background: url("../img/bid.png") no-repeat;
    background-position: center 200px;
    background-size: 43%;
    left: -400px; }
  #section3 #form-right-bg {
    background: url("../img/bid-right.png") no-repeat;
    background-position: 890px 250px;
    background-size: 33%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  #section3 #form {
    padding: 0 5%;
    width: 35%; }
    #section3 #form h2 {
      margin: 0;
      padding: 10px 0; }
    #section3 #form form textarea {
      height: 100px; }
    #section3 #form form .btn {
      margin: 15px auto; }
    #section3 #form p {
      margin-top: 0; }
  #section4 #car #description-contact {
    padding-top: 18%; }
    #section4 #car #description-contact h2 {
      padding-top: 5px;
      font-size: 1em; }
    #section4 #car #description-contact .line-info {
      border-bottom: 1px solid #4e4e4e;
      padding: 3px 0;
      color: #fff;
      font-size: 1.1em;
      text-align: left; }
      #section4 #car #description-contact .line-info.none-line {
        border-bottom: none;
        padding-top: 8px; }
        #section4 #car #description-contact .line-info.none-line .left {
          padding-top: 8px; }
      #section4 #car #description-contact .line-info .left {
        float: left;
        font-size: 0.75em; }
      #section4 #car #description-contact .line-info .right {
        font-size: 0.75em;
        float: right;
        width: 220px; }
        #section4 #car #description-contact .line-info .right a {
          color: #2e79cc; }
  #section4 #car #description-contact-2 {
    padding: 0 10%;
    padding-top: 15px; }
    #section4 #car #description-contact-2 .line-info .right {
      width: 120px; }
  #tel-icon {
    bottom: 15px;
    right: 50px; } }

@media only screen and (max-width: 360px) {
  #home {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100%;
    z-index: 105; }
    #home table .center-td {
      vertical-align: middle;
      position: absolute;
      padding-top: 15%;
      left: 50%;
      right: 50%;
      width: 90%; }
    #home #dynamic-text {
      margin: 0px auto; }
    #home table {
      height: 40em; }
    #home #logo {
      background: url("../img/logo.png") no-repeat center center;
      background-size: 100%;
      position: relative;
      animation: logoFalse 4s ease-in 1;
      margin: 0 auto;
      height: 421px;
      width: 100%; }
      #home #logo:before {
        content: "";
        display: none; }
  #menu nav {
    margin: 0 auto;
    width: 100%; }
    #menu nav ul {
      float: left;
      padding: 0; }
      #menu nav ul.left li {
        margin-left: 95px; }
        #menu nav ul.left li.center-v {
          margin-left: 5px; }
      #menu nav ul.center li.center-v {
        display: none; }
      #menu nav ul.right li.btn-yellow {
        display: none; }
    #menu nav .center {
      left: 38%; }
  #section0 {
    background: url("../img/bg-2-min.jpg") no-repeat center center #111519;
    background-size: cover;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
    #section0 section {
      position: relative;
      top: 0;
      text-align: center;
      color: #fff;
      margin: 0 auto;
      width: 90%; }
      #section0 section h2 {
        margin: 0;
        font-weight: 100;
        font-size: 1.2em;
        text-transform: uppercase; }
      #section0 section .yellow-text {
        color: #e6b41d; }
      #section0 section p {
        font-size: 0.75em;
        margin-bottom: 0; }
        #section0 section p.yellow-text {
          position: relative;
          padding-top: 4%;
          bottom: 0; }
      #section0 section #bisnesman-1 {
        background: none;
        position: relative;
        left: 0;
        top: 10px;
        text-align: left;
        height: 0;
        width: 0; }
        #section0 section #bisnesman-1 .punkt-1, #section0 section #bisnesman-1 .punkt-2, #section0 section #bisnesman-1 .punkt-3 {
          animation: punkt-false 3s ease-in-out;
          background: none;
          position: relative;
          top: 10px;
          right: 0px;
          overflow: visible;
          height: 80px;
          width: 320px; }
          #section0 section #bisnesman-1 .punkt-1 h3, #section0 section #bisnesman-1 .punkt-2 h3, #section0 section #bisnesman-1 .punkt-3 h3 {
            animation: punkt-text-false 0s ease-in-out 0s;
            font-weight: 100;
            opacity: 1;
            text-transform: uppercase;
            font-size: 0.75em;
            margin: 0; }
          #section0 section #bisnesman-1 .punkt-1 span, #section0 section #bisnesman-1 .punkt-2 span, #section0 section #bisnesman-1 .punkt-3 span {
            animation: punkt-text-false 3s ease-in-out 3s;
            font-size: 0.6em;
            opacity: 1; }
        #section0 section #bisnesman-1 .punkt-2 {
          background: none;
          top: 0;
          right: 0; }
          #section0 section #bisnesman-1 .punkt-2 h3 {
            margin: 0; }
        #section0 section #bisnesman-1 .punkt-3 {
          background: none;
          top: 0;
          right: 0; }
          #section0 section #bisnesman-1 .punkt-3 h3 {
            margin: 0; }
          #section0 section #bisnesman-1 .punkt-3 span {
            margin-left: 0; }
      #section0 section #bisnesman-2 {
        background: none;
        position: relative;
        text-align: right;
        right: 0;
        top: 15px;
        margin-bottom: 45px;
        height: 100%;
        width: 100%; }
        #section0 section #bisnesman-2 .punkt-1, #section0 section #bisnesman-2 .punkt-2 {
          animation: punkt-false 3s ease-in-out;
          background: none;
          position: relative;
          left: 0;
          top: 0;
          overflow: visible;
          height: 80px;
          width: 100%; }
          #section0 section #bisnesman-2 .punkt-1 h3, #section0 section #bisnesman-2 .punkt-2 h3 {
            animation: punkt-text-false 3s ease-in-out 3s;
            font-weight: 100;
            opacity: 1;
            text-transform: uppercase;
            font-size: 0.75em;
            margin: 0; }
          #section0 section #bisnesman-2 .punkt-1 span, #section0 section #bisnesman-2 .punkt-2 span {
            animation: punkt-text-false 3s ease-in-out 3s;
            font-size: 0.6em;
            opacity: 1; }
        #section0 section #bisnesman-2 .punkt-2 {
          background: none;
          top: 0;
          right: 0; }
          #section0 section #bisnesman-2 .punkt-2 h3 {
            margin: 0; }
  #section1 {
    background: #fbfbfb;
    position: relative;
    padding-bottom: 90px;
    width: 100%;
    top: 0; }
    #section1 section {
      padding-top: 20px;
      padding-bottom: 120px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      width: 100%; }
      #section1 section h2 {
        text-align: center;
        color: #2e2e2f;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.3em;
        margin: 0;
        margin-bottom: 10px; }
      #section1 section #wrapper .tabs-line {
        display: inline-block;
        margin-bottom: 10px; }
      #section1 section #wrapper h3 {
        background: #a9a9a9;
        border-radius: 5px;
        padding: 0 10px;
        margin: 0 10px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2em;
        transition: background .8s; }
      #section1 section #wrapper #bisness h3:hover {
        cursor: pointer;
        background: #65b5de; }
      #section1 section #wrapper #bisness h3.active-services {
        background: #65b5de; }
      #section1 section #wrapper #family h3:hover {
        cursor: pointer;
        background: #e6b41d; }
      #section1 section #wrapper #family h3.active-services {
        background: #e6b41d; }
      #section1 section #wrapper #turism h3:hover {
        cursor: pointer;
        background: #8dad40; }
      #section1 section #wrapper #turism h3.active-services {
        background: #8dad40; }
      #section1 section #wrapper .none {
        display: none; }
      #section1 section #wrapper.tab1 div.tab1 {
        background: none;
        display: block;
        width: 100%; }
      #section1 section #wrapper.tab2 div.tab2 {
        background: none;
        display: block;
        width: 100%; }
      #section1 section #wrapper.tab3 div.tab3 {
        background: none;
        display: block;
        width: 100%; }
      #section1 section #wrapper.tab1 .tab1 h3 {
        background: #65b5de; }
      #section1 section #wrapper.tab2 .tab2 h3 {
        background: #e6b41d; }
      #section1 section #wrapper.tab3 .tab3 h3 {
        background: #8dad40; }
      #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
        float: right;
        padding: 10px 0;
        width: 95%; }
        #section1 section .tab1 .description h4, #section1 section .tab2 .description h4, #section1 section .tab3 .description h4 {
          color: #65b5de;
          font-size: 0.9em;
          font-weight: 100;
          margin: 0;
          text-transform: uppercase; }
        #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
          text-align: left;
          padding-bottom: 15px; }
          #section1 section .tab1 .description .description-item img, #section1 section .tab2 .description .description-item img, #section1 section .tab3 .description .description-item img {
            float: left;
            margin-right: 15px;
            margin-bottom: 17px;
            width: 30px; }
          #section1 section .tab1 .description .description-item p, #section1 section .tab2 .description .description-item p, #section1 section .tab3 .description .description-item p {
            font-size: 0.8em;
            margin: 0; }
          #section1 section .tab1 .description .description-item small, #section1 section .tab2 .description .description-item small, #section1 section .tab3 .description .description-item small {
            font-size: 0.6em; }
      #section1 section .tab2 .description {
        float: right;
        padding-left: 0;
        width: 95%; }
        #section1 section .tab2 .description h4 {
          color: #e6b41d; }
      #section1 section .tab3 .description h4 {
        color: #8dad40; }
      #section1 section .clearfix {
        clear: both; }
  #section2 {
    top: 20px; }
    #section2 section {
      position: relative;
      top: 20px;
      width: 90%; }
      #section2 section #wrapper2 h3 {
        font-size: 0.9em; }
      #section2 section #wrapper2 .tabs-line {
        margin-bottom: 30px;
        margin-top: 0;
        font-size: 0.9em;
        width: 160px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description {
        display: none; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description p, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description p {
          line-height: 140%;
          font-size: 0.9em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .status-description h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .status-description h2 {
          font-size: 1.1em;
          font-weight: 100; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport {
        display: none;
        padding: 53px 40px;
        padding-bottom: 0;
        width: 40%; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .big_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .big_transport img {
          width: 100%;
          height: 272px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport {
        display: none;
        width: 25%; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport h2 {
          font-size: 1em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info {
          padding-top: 0; }
          #section2 section #wrapper2 .tab1 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab2 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab3 .gallery_avto .panel .description_transport .line-info .right, #section2 section #wrapper2 .tab4 .gallery_avto .panel .description_transport .line-info .right {
            font-size: 0.7em;
            width: 160px; }
      #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel {
        top: 50px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport h2, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport h2 {
          font-size: 1em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul {
          margin: 0; }
          #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport ul li, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport ul li {
            font-size: 0.75em; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel .part .box_transport img, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel .part .box_transport img {
          height: 50px; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel div.scrollingHotSpotLeft {
          height: 75%; }
        #section2 section #wrapper2 .tab1 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab2 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab3 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight, #section2 section #wrapper2 .tab4 .gallery_avto .panel .bottom_panel div.scrollingHotSpotRight {
          height: 75%; }
    #section2 .scrollingHotSpotLeft {
      background: url(../img/icons/leftArr.png) center center no-repeat rgba(0, 0, 0, 0.4);
      left: 0; }
    #section2 .scrollingHotSpotRight {
      background: url(../img/icons/rightArr.png) center center no-repeat rgba(0, 0, 0, 0.4);
      right: 0; }
  .alert-message {
    display: none; }
    .alert-message .message-box {
      padding: 10px;
      top: 3%;
      left: 3%;
      margin-left: 0;
      width: 88%; }
  #section3 {
    background: #fff; }
    #section3 #form-left-bg {
      display: none; }
    #section3 #form-right-bg {
      display: none; }
    #section3 #form {
      top: 0px;
      width: 90%; }
      #section3 #form h2 {
        font-size: 1.2em;
        float: right;
        margin: 0 auto;
        width: 300px; }
      #section3 #form form {
        display: inline-block; }
        #section3 #form form label {
          font-size: 0.75em;
          width: 59px; }
        #section3 #form form input {
          float: right;
          padding-left: 10px;
          margin: 6px 0;
          font-size: 0.6em;
          width: 68%; }
        #section3 #form form .phone {
          width: 57%; }
        #section3 #form form textarea {
          height: 85px;
          width: 67.4%; }
      #section3 #form p {
        width: 320px; }
  #section4 {
    background: #1E1E1E; }
    #section4 #car {
      background: #1E1E1E;
      width: 100%; }
      #section4 #car #description-contact, #section4 #car #description-contact-2 {
        padding: 5%;
        padding-top: 15%; }
        #section4 #car #description-contact h2, #section4 #car #description-contact-2 h2 {
          color: #fff;
          text-align: center;
          margin: 0;
          margin-bottom: 10px;
          font-size: 1.2em;
          font-weight: 100; }
        #section4 #car #description-contact .line-info, #section4 #car #description-contact-2 .line-info {
          border-bottom: 1px solid #4e4e4e;
          padding: 8px 0;
          color: #fff;
          font-size: 0.75em;
          text-align: left; }
          #section4 #car #description-contact .line-info.none-line, #section4 #car #description-contact-2 .line-info.none-line {
            border-bottom: none;
            padding-top: 8px; }
            #section4 #car #description-contact .line-info.none-line .left, #section4 #car #description-contact-2 .line-info.none-line .left {
              padding-top: 8px; }
          #section4 #car #description-contact .line-info .left, #section4 #car #description-contact-2 .line-info .left {
            float: left;
            font-size: 1em; }
          #section4 #car #description-contact .line-info .right, #section4 #car #description-contact-2 .line-info .right {
            font-size: 0.9em;
            float: right;
            width: 170px; }
            #section4 #car #description-contact .line-info .right a, #section4 #car #description-contact-2 .line-info .right a {
              color: #2e79cc; }
      #section4 #car #description-contact-2 {
        padding: 0 0;
        padding-top: 15px; }
        #section4 #car #description-contact-2 .line-info .right {
          width: 100px; }
      #section4 #car .clearfix {
        clear: both; }
  #tel-icon {
    animation: arrow-bottom 1s ease-in-out infinite;
    background: url("../img/puncts/tel.png") no-repeat center center #78d843;
    background-size: 60%;
    display: none;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 10px;
    height: 45px;
    width: 45px;
    z-index: 3; }
    #tel-icon:hover {
      cursor: pointer; } }
