.section {
  display: none; }

.alert-message {
  display: none; }
  .alert-message .black {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100; }
  .alert-message .message-box {
    background: #fff;
    box-shadow: 0 0 30px 0 #fff;
    padding: 40px;
    position: fixed;
    font-family: "FiraSans-Medium", sans-serif;
    top: 25%;
    left: 50%;
    margin-left: -250px;
    width: 20%;
    z-index: 101; }
    .alert-message .message-box .close {
      background: url("../img/icons/close.png") no-repeat center center;
      position: absolute;
      right: 5px;
      top: 5px;
      height: 32px;
      width: 32px; }
      .alert-message .message-box .close:hover {
        cursor: pointer; }
    .alert-message .message-box h2 {
      text-align: center; }
    .alert-message .message-box form label {
      color: #3c3c3c;
      float: left;
      text-align: right;
      padding: 11px 0;
      font-size: 1.1em;
      width: 100px; }
      .alert-message .message-box form label:hover {
        cursor: pointer; }
    .alert-message .message-box form input {
      border-radius: 3px;
      border: 2px solid #ccc;
      color: #b1b1b1;
      height: 35px;
      float: right;
      padding-left: 10px;
      margin: 6px 0;
      font-size: 1em;
      width: 62%; }
    .alert-message .message-box form .phone {
      background: url("../img/icons/number.png") no-repeat;
      background-position: 10px;
      padding-left: 45px;
      width: 52.5%; }
    .alert-message .message-box form .btn {
      background: #a9a9a9;
      border-radius: 5px;
      color: #fff;
      margin: 24px auto;
      position: relative;
      left: 9%;
      float: none;
      padding: 1px 0;
      font-size: 1em;
      text-transform: uppercase;
      height: 57px;
      width: 40%; }
      .alert-message .message-box form .btn.true {
        background: #e6b41d; }
    .alert-message .message-box form p {
      text-align: center; }
    .alert-message .message-box form .red {
      color: #ca272f; }

#home {
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100%;
  z-index: 105; }
  #home table .center-td {
    vertical-align: middle;
    position: absolute;
    padding-top: 15%;
    left: 50%;
    right: 50%;
    margin-left: -150px;
    width: 400px; }
  #home #dynamic-text {
    color: #fff;
    text-align: left;
    font-size: 2em;
    height: 80px;
    margin: 30px auto;
    position: relative;
    width: 250px; }
  #home table {
    border-collapse: collapse;
    height: 59.7em; }
  #home h1 {
    margin: 0;
    margin-top: 40px;
    font-weight: 100;
    font-family: "Drugs", sans-serif; }
  #home #bg2 {
    background: url("../img/bg2.png") no-repeat center center;
    background-size: cover;
    animation: logo 4s ease-in 1; }
  #home #logo {
    background: url("../img/logo.png") no-repeat center center;
    background-size: 100%;
    position: relative;
    animation: logo 4s ease-in 1;
    margin: 0 auto;
    height: 421px;
    width: 400px; }
    #home #logo:before {
      content: "";
      background: url("../img/shine.png") no-repeat center center;
      background-size: 100%;
      animation: shine 1s linear 7s 1;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(60px, 110px);
      width: 0%; }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes shine {
  0% {
    transform: translate(-10px, -120px);
    width: 40%; }
  10% {
    transform: translate(50px, -165px);
    width: 50%; }
  20% {
    transform: translate(120px, -165px);
    width: 60%; }
  30% {
    transform: translate(160px, -145px);
    width: 70%; }
  40% {
    transform: translate(180px, -90px);
    width: 80%; }
  50% {
    transform: translate(190px, -30px);
    width: 90%; }
  60% {
    transform: translate(140px, 80px);
    width: 100%; }
  70% {
    transform: translate(80px, 150px);
    width: 90%; }
  80% {
    transform: translate(60px, 170px);
    width: 70%; }
  90% {
    transform: translate(0px, 130px);
    width: 40%; }
  100% {
    transform: translate(15px, 110px);
    width: 0%; } }

#group {
  fill: #2b414d;
  stroke: #ca272f;
  stroke-width: 5px;
  width: 100%; }

.logo {
  width: 100%; }

/*End Animation*/
/*Menu*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

#menu {
  position: fixed;
  background: url("../img/menu-bg.jpg") no-repeat top;
  background-size: cover;
  height: 73px;
  width: 100%;
  z-index: 99; }
  #menu nav {
    margin: 0 auto;
    width: 80%; }
    #menu nav ul {
      float: left;
      padding: 0; }
      #menu nav ul.left li.center-v {
        margin-left: 5px; }
      #menu nav ul.center li.center-v {
        padding-top: 10px; }
        #menu nav ul.center li.center-v.active a {
          background: url("../img/light-cursor.png") no-repeat center center;
          background-size: 100%; }
        #menu nav ul.center li.center-v a {
          padding: 20px; }
          #menu nav ul.center li.center-v a:hover {
            background: url("../img/light-cursor.png") no-repeat center center;
            background-size: 100%; }
      #menu nav ul.center li a {
        font-family: "FiraSans-Thin", sans-serif; }
      #menu nav ul.right li.center-v {
        padding-top: 5px; }
        #menu nav ul.right li.center-v.active a {
          background: url("../img/light-cursor.png") no-repeat center center;
          background-size: 100%; }
        #menu nav ul.right li.center-v a {
          padding: 0 10px; }
          #menu nav ul.right li.center-v a:hover {
            background: url("../img/light-lang.png") no-repeat center center;
            background-size: cover; }
      #menu nav ul.right li.btn-yellow {
        background: #d0a114;
        border-radius: 3px;
        padding: 3% 0;
        margin-left: 30px;
        text-align: center;
        width: 150px; }
        #menu nav ul.right li.btn-yellow:hover {
          cursor: pointer;
          background: url("../img/light-lang.png") no-repeat center center #d0a114;
          background-size: cover; }
        #menu nav ul.right li.btn-yellow a:hover {
          background: none; }
      #menu nav ul li {
        color: #fff;
        float: left;
        font-family: "FiraSans-Regular", sans-serif;
        font-size: 16px;
        list-style: none;
        margin-left: 15px; }
        #menu nav ul li.center-v {
          padding-top: 5px; }
        #menu nav ul li.logo-min {
          margin-top: -8px; }
        #menu nav ul li a {
          color: #fff;
          font-size: 13px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: "FiraSans-Regular", sans-serif; }
    #menu nav .right {
      float: right; }
    #menu nav .left {
      float: left; }
    #menu nav .center {
      float: none;
      position: absolute;
      font-size: 13px;
      left: 38%; }

#section0 {
  background: url("../img/bg-2.jpg") no-repeat center center #111519;
  background-size: cover;
  position: relative;
  top: 140px;
  height: 92.4%;
  width: 100%;
  z-index: 1; }
  #section0 section {
    position: relative;
    top: 65px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 50%; }
    #section0 section h2 {
      margin: 0;
      font-family: "FiraSans-SemiBold", sans-serif;
      font-weight: 100;
      font-size: 36px;
      text-transform: uppercase; }
    #section0 section .yellow-text {
      color: #e6b41d; }
    #section0 section p {
      font-family: "FiraSans-UltraLight", sans-serif;
      font-size: 18px;
      margin-bottom: 0; }
      #section0 section p.yellow-text {
        position: relative;
        padding-top: 45%;
        bottom: 0; }
    #section0 section #bisnesman-1 {
      background: url("../img/bisnesman-1.png") no-repeat center center;
      position: absolute;
      left: 50px;
      bottom: 0;
      text-align: center;
      height: 530px;
      width: 343px; }
      #section0 section #bisnesman-1 .punkt-1, #section0 section #bisnesman-1 .punkt-2, #section0 section #bisnesman-1 .punkt-3 {
        animation: punkt 3s ease-in-out;
        background: url("../img/puncts/punkt-1.png") no-repeat right;
        position: absolute;
        right: 254px;
        overflow: hidden;
        height: 115px;
        width: 453px; }
        #section0 section #bisnesman-1 .punkt-1 h3, #section0 section #bisnesman-1 .punkt-2 h3, #section0 section #bisnesman-1 .punkt-3 h3 {
          animation: punkt-text 3s ease-in-out 3s;
          font-family: "FiraSans-Medium", sans-serif;
          font-weight: 100;
          opacity: 0;
          text-transform: uppercase;
          font-size: 22px;
          margin: 15px 0; }
        #section0 section #bisnesman-1 .punkt-1 span, #section0 section #bisnesman-1 .punkt-2 span, #section0 section #bisnesman-1 .punkt-3 span {
          animation: punkt-text 3s ease-in-out 3s;
          font-size: 16px;
          opacity: 0;
          font-family: "FiraSans-Book", sans-serif; }
      #section0 section #bisnesman-1 .punkt-2 {
        background: url("../img/puncts/punkt-2.png") no-repeat right;
        top: 190px;
        right: 220px; }
        #section0 section #bisnesman-1 .punkt-2 h3 {
          margin: 5px 0;
          margin-top: 30px; }
      #section0 section #bisnesman-1 .punkt-3 {
        background: url("../img/puncts/punkt-3.png") no-repeat right;
        top: 350px;
        right: 235px; }
        #section0 section #bisnesman-1 .punkt-3 h3 {
          margin: 5px 0;
          margin-top: 59px;
          margin-left: -100px; }
        #section0 section #bisnesman-1 .punkt-3 span {
          margin-left: -100px; }
    #section0 section #bisnesman-2 {
      background: url("../img/bisnesman-2.png") no-repeat center center;
      position: absolute;
      right: 50px;
      bottom: 10px;
      height: 518px;
      width: 257px; }
      #section0 section #bisnesman-2 .punkt-1, #section0 section #bisnesman-2 .punkt-2 {
        animation: punkt 3s ease-in-out;
        background: url("../img/puncts/punkt-4.png") no-repeat left;
        position: absolute;
        left: 200px;
        top: 70px;
        overflow: hidden;
        height: 115px;
        width: 453px; }
        #section0 section #bisnesman-2 .punkt-1 h3, #section0 section #bisnesman-2 .punkt-2 h3 {
          animation: punkt-text 3s ease-in-out 3s;
          font-family: "FiraSans-Medium", sans-serif;
          font-weight: 100;
          opacity: 0;
          text-transform: uppercase;
          font-size: 22px;
          margin: 15px 0; }
        #section0 section #bisnesman-2 .punkt-1 span, #section0 section #bisnesman-2 .punkt-2 span {
          animation: punkt-text 3s ease-in-out 3s;
          font-size: 16px;
          opacity: 0;
          font-family: "FiraSans-Book", sans-serif; }
      #section0 section #bisnesman-2 .punkt-2 {
        background: url("../img/puncts/punkt-5.png") no-repeat left;
        top: 220px;
        right: 230px; }
        #section0 section #bisnesman-2 .punkt-2 h3 {
          margin: 5px 0;
          margin-top: 30px; }
    #section0 section img {
      animation: arrow-bottom 1s ease-in-out infinite; }

/* Animation puncts*/
@keyframes punkt {
  0% {
    opacity: 0;
    width: 8px; }
  50% {
    opacity: 1;
    width: 8px; }
  100% {
    width: 453px; } }

@keyframes punkt-text {
  0% {
    display: none;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

/* End Animation puncts */
/* Animation arrow-bottom*/
@-webkit-keyframes arrow-bottom {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

/* End Animation arrow-bottom*/
/*Menu End*/
#section1 {
  background: #fbfbfb;
  position: relative;
  width: 100%;
  top: 73px; }
  #section1 section {
    padding-top: 60px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 75%; }
    #section1 section h2 {
      text-align: center;
      color: #2e2e2f;
      font-family: "FiraSans-SemiBold", sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 36px;
      margin: 0;
      margin-bottom: 35px; }
    #section1 section #wrapper .tabs-line {
      display: inline-block;
      margin-bottom: 50px; }
    #section1 section #wrapper h3 {
      background: #a9a9a9;
      border-radius: 5px;
      padding: 5px 50px;
      margin: 0 10px;
      text-align: center;
      color: #fff;
      font-family: "FiraSans-Medium", sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 36px;
      transition: background .8s; }
    #section1 section #wrapper #bisness h3:hover {
      cursor: pointer;
      background: #65b5de; }
    #section1 section #wrapper #bisness h3.active-services {
      background: #65b5de; }
    #section1 section #wrapper #family h3:hover {
      cursor: pointer;
      background: #e6b41d; }
    #section1 section #wrapper #family h3.active-services {
      background: #e6b41d; }
    #section1 section #wrapper #turism h3:hover {
      cursor: pointer;
      background: #8dad40; }
    #section1 section #wrapper #turism h3.active-services {
      background: #8dad40; }
    #section1 section #wrapper .none {
      display: none; }
    #section1 section #wrapper.tab1 div.tab1 {
      background: url("../img/bisness.png") no-repeat left top;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab2 div.tab2 {
      background: url("../img/family.png") no-repeat right top;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab3 div.tab3 {
      background: url("../img/turism.png") no-repeat left top;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab1 .tab1 h3 {
      background: #65b5de; }
    #section1 section #wrapper.tab2 .tab2 h3 {
      background: #e6b41d; }
    #section1 section #wrapper.tab3 .tab3 h3 {
      background: #8dad40; }
    #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
      float: right;
      padding: 30px 0;
      padding-right: 90px;
      width: 28%; }
      #section1 section .tab1 .description h4, #section1 section .tab2 .description h4, #section1 section .tab3 .description h4 {
        color: #65b5de;
        font-size: 24px;
        font-weight: 100;
        font-family: "FiraSans-Medium", sans-serif;
        margin: 0;
        text-transform: uppercase; }
      #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
        text-align: left;
        padding-bottom: 30px; }
        #section1 section .tab1 .description .description-item img, #section1 section .tab2 .description .description-item img, #section1 section .tab3 .description .description-item img {
          float: left;
          margin-right: 15px;
          margin-bottom: 20px; }
        #section1 section .tab1 .description .description-item p, #section1 section .tab2 .description .description-item p, #section1 section .tab3 .description .description-item p {
          font-family: "FiraSans-Medium", sans-serif;
          margin: 0; }
        #section1 section .tab1 .description .description-item small, #section1 section .tab2 .description .description-item small, #section1 section .tab3 .description .description-item small {
          font-family: "FiraSans-Book", sans-serif;
          font-size: 12px; }
    #section1 section .tab2 .description {
      float: left;
      padding-left: 160px; }
      #section1 section .tab2 .description h4 {
        color: #e6b41d; }
    #section1 section .tab3 .description h4 {
      color: #8dad40; }
    #section1 section .clearfix {
      clear: both; }

#section2 {
  background: url("../img/car_park.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 73px;
  height: 100%;
  width: 100%; }
  #section2 section {
    margin: 0 auto;
    height: 100%;
    width: 80%; }
    #section2 section #wrapper2 {
      text-align: center; }
      #section2 section #wrapper2 .tabs-line {
        display: inline-block;
        margin-bottom: 50px;
        margin-top: 120px; }
      #section2 section #wrapper2 h3 {
        background: #a9a9a9;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 0 10px;
        text-align: center;
        color: #fff;
        font-family: "FiraSans-Medium", sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.7em;
        transition: background .8s; }
        #section2 section #wrapper2 h3:hover {
          background: #c62b30;
          cursor: pointer; }
      #section2 section #wrapper2 .tab1 #gallery_avto {
        height: 100%;
        width: 100%; }
        #section2 section #wrapper2 .tab1 #gallery_avto .panel {
          position: relative;
          height: 100%;
          width: 100%; }
          #section2 section #wrapper2 .tab1 #gallery_avto .panel .status-description {
            float: left;
            text-align: left;
            width: 25%; }
            #section2 section #wrapper2 .tab1 #gallery_avto .panel .status-description h2 {
              color: #fff;
              font-family: "FiraSans-SemiBold", sans-serif;
              font-size: 1.6em;
              margin: 0; }
            #section2 section #wrapper2 .tab1 #gallery_avto .panel .status-description p {
              font-family: "FiraSans-Thin", sans-serif;
              color: #fff;
              margin: 0;
              line-height: 180%; }
          #section2 section #wrapper2 .tab1 #gallery_avto .panel .big_transport {
            float: left;
            width: 40%;
            padding: 65px 40px; }
          #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport {
            float: left;
            width: 25%; }
            #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport h2 {
              text-align: left;
              color: #fff;
              font-family: "BloggerSans-Medium", sans-serif;
              font-size: 1.6em;
              font-weight: 100;
              margin: 0; }
            #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info {
              border-bottom: 2px solid #666d7b;
              padding-top: 8px;
              color: #fff;
              font-size: 1em;
              text-align: left; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info.none-line {
                border-bottom: none;
                padding: 0; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info.none-line .left {
                  padding-top: 8px; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info p {
                color: #fff;
                height: 25px; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info .left {
                float: left;
                font-size: 0.9em;
                font-family: "BloggerSans-Medium", sans-serif; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info .red {
                color: #ca272f;
                padding-top: 0px;
                font-size: 2em;
                font-family: "BloggerSans-Medium", sans-serif;
                font-weight: bold; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info .right {
                font-size: 0.9em;
                font-family: "FiraSans-Thin", sans-serif;
                float: right;
                width: 250px; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info .right a {
                  color: #2e79cc;
                  text-decoration: none; }
          #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel {
            position: relative;
            bottom: 0;
            width: 100%; }
            #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport {
              border-radius: 8px;
              background: #fff;
              background: -webkit-linear-gradient(top, #ffffff 14%, #868ea1 100%);
              box-shadow: 0 0 0 0 #fff;
              font-family: "BloggerSans-Medium", sans-serif;
              float: left;
              margin: 0 10px;
              transition: background 0.8s, box-shadow 0.8s;
              width: 18%; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport .des-small {
                padding: 5px 15px; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport .status_transport {
                color: #fff;
                font-weight: 100;
                padding: 10px 10px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport .status_transport.econom {
                  background: #e5983c; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport .status_transport.bisnes {
                  background: #1a4d8b; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport .status_transport.representative {
                  background: #c62b30; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport:hover {
                box-shadow: 0 0 30px 0 #fff;
                background: -webkit-linear-gradient(top, #ffffff 14%, #ffffff 100%);
                cursor: pointer; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport.active {
                box-shadow: 0 0 30px 0 #fff;
                background: -webkit-linear-gradient(top, #ffffff 14%, #ffffff 100%);
                cursor: pointer; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport h4 {
                text-align: left;
                margin: 0; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport img {
                text-align: center; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport h2 {
                text-align: left;
                margin: 0;
                font-weight: 100;
                border-bottom: 2px solid #9da1aa;
                padding-bottom: 5px; }
              #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport ul {
                text-align: left;
                padding: 0; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport ul li {
                  list-style: none; }
                #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport ul .red {
                  color: #ca272f;
                  font-size: 1.2em;
                  font-weight: bold; }
      #section2 section #wrapper2 .clearfix {
        clear: both; }
    #section2 section #wrapper2 .none {
      display: none; }
    #section2 section #wrapper2.tab1 div.tab1 {
      display: block;
      width: 100%; }
    #section2 section #wrapper2.tab2 div.tab2 {
      display: block;
      width: 100%; }
    #section2 section #wrapper2.tab3 div.tab3 {
      display: block;
      width: 100%; }
    #section2 section #wrapper2.tab4 div.tab4 {
      display: block;
      width: 100%; }
    #section2 section #wrapper2.tab1 .tab1 h3 {
      background: #c62b30; }
    #section2 section #wrapper2.tab2 .tab2 h3 {
      background: #c62b30; }
    #section2 section #wrapper2.tab3 .tab3 h3 {
      background: #c62b30; }
    #section2 section #wrapper2.tab4 .tab4 h3 {
      background: #c62b30; }

#section3 {
  position: relative;
  height: 100%;
  width: 100%; }
  #section3 #form-left-bg {
    background: url("../img/bid.png") no-repeat;
    background-position: center 380px;
    position: absolute;
    top: 0;
    left: -500px;
    height: 100%;
    width: 100%;
    z-index: 1; }
  #section3 #form-right-bg {
    background: url("../img/bid-right.png") no-repeat;
    background-position: 1200px 450px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  #section3 #form {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.51);
    position: relative;
    margin: 0 auto;
    font-family: "BloggerSans", sans-serif;
    padding: 3% 6%;
    top: 30px;
    width: 25%;
    z-index: 2; }
    #section3 #form h2 {
      color: #3f3f3f;
      text-align: center;
      font-family: "BloggerSans", sans-serif;
      float: right;
      width: 340px; }
    #section3 #form form {
      display: inline-block; }
      #section3 #form form label {
        color: #3c3c3c;
        float: left;
        text-align: right;
        padding: 11px 0;
        font-size: 1.1em;
        width: 120px; }
        #section3 #form form label:hover {
          cursor: pointer; }
      #section3 #form form input {
        border-radius: 3px;
        border: 2px solid #ccc;
        color: #b1b1b1;
        height: 35px;
        float: right;
        padding-left: 10px;
        margin: 6px 0;
        font-size: 1em;
        width: 68%; }
      #section3 #form form .phone {
        background: url("../img/icons/number.png") no-repeat;
        background-position: 10px;
        padding-left: 45px;
        width: 60.4%; }
      #section3 #form form textarea {
        border-radius: 3px;
        border: 2px solid #ccc;
        padding-left: 10px;
        color: #b1b1b1;
        float: right;
        height: 150px;
        width: 67.4%; }
      #section3 #form form .btn {
        background: #a9a9a9;
        border-radius: 5px;
        color: #fff;
        margin: 24px auto;
        position: relative;
        left: 49%;
        float: none;
        padding: 1px 0;
        font-size: 1em;
        text-transform: uppercase;
        height: 57px;
        width: 32%; }
        #section3 #form form .btn.true {
          background: #e6b41d; }
      #section3 #form form .red {
        color: #ca272f; }
    #section3 #form p {
      font-family: "BloggerSans", sans-serif;
      text-align: center;
      font-weight: bold;
      float: right;
      width: 340px; }
  #section3 .clearfix {
    clear: both; }

#section4 {
  background: url("../img/contact.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%; }
  #section4 #car {
    background: url("../img/car.png") no-repeat center bottom;
    background-size: 100%;
    margin: 0 auto;
    height: 100%;
    width: 50%; }
    #section4 #car #description-contact, #section4 #car #description-contact-2 {
      padding: 17%;
      padding-top: 25%;
      font-family: "BloggerSans", sans-serif;
      color: #fff; }
      #section4 #car #description-contact h2, #section4 #car #description-contact-2 h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        font-family: "BloggerSans-Medium", sans-serif;
        font-size: 1.8em;
        font-weight: 100; }
      #section4 #car #description-contact .line-info, #section4 #car #description-contact-2 .line-info {
        border-bottom: 1px solid #4e4e4e;
        padding: 8px 0;
        color: #fff;
        font-size: 1.1em;
        text-align: left; }
        #section4 #car #description-contact .line-info.none-line, #section4 #car #description-contact-2 .line-info.none-line {
          border-bottom: none;
          padding-top: 8px; }
          #section4 #car #description-contact .line-info.none-line .left, #section4 #car #description-contact-2 .line-info.none-line .left {
            padding-top: 8px; }
        #section4 #car #description-contact .line-info .left, #section4 #car #description-contact-2 .line-info .left {
          float: left;
          font-size: 1em;
          font-family: "BloggerSans", sans-serif; }
        #section4 #car #description-contact .line-info .right, #section4 #car #description-contact-2 .line-info .right {
          font-size: 0.9em;
          font-family: "BloggerSans", sans-serif;
          float: right;
          width: 250px; }
          #section4 #car #description-contact .line-info .right a, #section4 #car #description-contact-2 .line-info .right a {
            color: #2e79cc; }
    #section4 #car #description-contact-2 {
      padding: 0 10%;
      padding-top: 15px; }
      #section4 #car #description-contact-2 .line-info .right {
        width: 150px; }
    #section4 #car .clearfix {
      clear: both; }

#tel-icon {
  animation: arrow-bottom 1s ease-in-out infinite;
  background: url("../img/puncts/tel.png") no-repeat center center #78d843;
  display: none;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 150px;
  height: 75px;
  width: 75px;
  z-index: 3; }
  #tel-icon:hover {
    cursor: pointer; }

@media only screen and (max-width: 1366px) {
  .alert-message .message-box {
    top: 10%;
    margin-left: -200px;
    width: 28%; }
  @keyframes punkt {
    0% {
      opacity: 0;
      width: 8px; }
    50% {
      opacity: 1;
      width: 8px; }
    100% {
      width: 300px; } }
  #home table {
    height: 40em; }
    #home table .center-td {
      padding-top: 4%; }
  #menu nav .center {
    left: 33%; }
  #section0 {
    top: 0px; }
    #section0 section {
      top: 53px;
      width: 65%; }
      #section0 section h2 {
        font-size: 30px; }
      #section0 section p {
        font-size: 14px;
        margin: 0; }
        #section0 section p.yellow-text {
          padding-top: 290px; }
      #section0 section #bisnesman-1 {
        background-size: 100%;
        height: 370px;
        width: 230px; }
        #section0 section #bisnesman-1 .punkt-1, #section0 section #bisnesman-1 .punkt-2, #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-1.png") no-repeat right;
          background-size: 100%;
          right: 150px;
          top: -20px;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-1 .punkt-1 h3, #section0 section #bisnesman-1 .punkt-2 h3, #section0 section #bisnesman-1 .punkt-3 h3 {
            font-size: 18px;
            margin: 0;
            margin-top: 30px; }
          #section0 section #bisnesman-1 .punkt-1 span, #section0 section #bisnesman-1 .punkt-2 span, #section0 section #bisnesman-1 .punkt-3 span {
            font-size: 12px; }
        #section0 section #bisnesman-1 .punkt-2 {
          background: url("../img/puncts/punkt-2.png") no-repeat right;
          background-size: 100%;
          top: 150px;
          right: 165px; }
          #section0 section #bisnesman-1 .punkt-2 h3 {
            margin: 5px 0;
            margin-top: 33px; }
        #section0 section #bisnesman-1 .punkt-3 {
          background: url("../img/puncts/punkt-3.png") no-repeat right;
          background-size: 100%;
          top: 250px;
          right: 180px; }
          #section0 section #bisnesman-1 .punkt-3 h3 {
            margin: 5px 0;
            margin-top: 53px;
            margin-left: -50px; }
          #section0 section #bisnesman-1 .punkt-3 span {
            margin-left: -50px; }
      #section0 section #bisnesman-2 {
        background-size: 100%;
        right: 92px;
        height: 370px;
        width: 178px; }
        #section0 section #bisnesman-2 .punkt-1, #section0 section #bisnesman-2 .punkt-2 {
          animation: punkt 3s ease-in-out;
          background: url("../img/puncts/punkt-4.png") no-repeat left;
          background-size: 100%;
          position: absolute;
          top: 30px;
          overflow: hidden;
          height: 115px;
          width: 300px; }
          #section0 section #bisnesman-2 .punkt-1 h3, #section0 section #bisnesman-2 .punkt-2 h3 {
            font-size: 18px;
            margin: 0 5px;
            margin-top: 30px; }
          #section0 section #bisnesman-2 .punkt-1 span, #section0 section #bisnesman-2 .punkt-2 span {
            font-size: 12px;
            opacity: 0;
            font-family: "FiraSans-Book", sans-serif; }
        #section0 section #bisnesman-2 .punkt-1 {
          left: 140px; }
        #section0 section #bisnesman-2 .punkt-2 {
          background: url("../img/puncts/punkt-5.png") no-repeat left;
          background-size: 100%;
          top: 190px;
          left: 115px; }
          #section0 section #bisnesman-2 .punkt-2 h3 {
            margin: 5px 5px;
            margin-top: 33px; }
  #section1 section {
    padding-top: 40px;
    padding-top: 85px;
    width: 100%; }
    #section1 section #wrapper.tab1 div.tab1 {
      background: url("../img/bisness.png") no-repeat left top;
      background-size: 53%;
      background-position: 80px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab2 div.tab2 {
      background: url("../img/family.png") no-repeat right top;
      background-size: 45%;
      background-position: 490px;
      display: block;
      width: 100%; }
    #section1 section #wrapper.tab3 div.tab3 {
      background: url("../img/turism.png") no-repeat left top;
      background-size: 45%;
      background-position: 220px;
      display: block;
      width: 100%; }
    #section1 section h2 {
      margin-bottom: 5px; }
    #section1 section #wrapper h3 {
      font-size: 22px; }
    #section1 section #wrapper .tabs-line {
      display: inline-block;
      margin-bottom: 11px; }
    #section1 section .tab1 .description, #section1 section .tab2 .description, #section1 section .tab3 .description {
      padding: 10px 125px; }
      #section1 section .tab1 .description .description-item, #section1 section .tab2 .description .description-item, #section1 section .tab3 .description .description-item {
        padding-bottom: 9px; }
        #section1 section .tab1 .description .description-item img, #section1 section .tab2 .description .description-item img, #section1 section .tab3 .description .description-item img {
          width: 8%;
          margin-bottom: 14px; }
        #section1 section .tab1 .description .description-item small, #section1 section .tab2 .description .description-item small, #section1 section .tab3 .description .description-item small {
          font-size: 10px; }
  #section2 section {
    width: 90%; }
    #section2 section #wrapper2 h3 {
      font-size: 0.9em; }
    #section2 section #wrapper2 .tabs-line {
      margin-bottom: 20px;
      margin-top: 90px; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .status-description p {
      line-height: 140%;
      font-size: 0.9em; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .status-description h2 {
      font-size: 1.1em;
      font-weight: 100; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .big_transport {
      padding: 53px 40px;
      padding-bottom: 0;
      width: 40%; }
      #section2 section #wrapper2 .tab1 #gallery_avto .panel .big_transport img {
        width: 100%; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport {
      width: 25%; }
      #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport h2 {
        font-size: 1em; }
      #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info {
        padding-top: 0; }
        #section2 section #wrapper2 .tab1 #gallery_avto .panel .description_transport .line-info .right {
          font-size: 0.7em;
          width: 160px; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport h2 {
      font-size: 1em; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport ul {
      margin: 0; }
      #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport ul li {
        font-size: 0.75em; }
    #section2 section #wrapper2 .tab1 #gallery_avto .panel .bottom_panel .box_transport img {
      height: 50px; }
  #section3 #form-left-bg {
    background: url("../img/bid.png") no-repeat;
    background-position: center 200px;
    background-size: 43%;
    left: -400px; }
  #section3 #form-right-bg {
    background: url("../img/bid-right.png") no-repeat;
    background-position: 850px 250px;
    background-size: 33%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  #section3 #form {
    padding: 0 5%;
    width: 35%; }
    #section3 #form h2 {
      margin: 0;
      padding: 10px 0; }
    #section3 #form form textarea {
      height: 100px; }
    #section3 #form form .btn {
      margin: 15px auto; }
    #section3 #form p {
      margin-top: 0; }
  #section4 #car #description-contact {
    padding-top: 19%; }
    #section4 #car #description-contact h2 {
      padding-top: 5px;
      font-size: 1em; }
    #section4 #car #description-contact .line-info {
      border-bottom: 1px solid #4e4e4e;
      padding: 5px 0;
      color: #fff;
      font-size: 1.1em;
      text-align: left; }
      #section4 #car #description-contact .line-info.none-line {
        border-bottom: none;
        padding-top: 8px; }
        #section4 #car #description-contact .line-info.none-line .left {
          padding-top: 8px; }
      #section4 #car #description-contact .line-info .left {
        float: left;
        font-size: 0.75em;
        font-family: "BloggerSans", sans-serif; }
      #section4 #car #description-contact .line-info .right {
        font-size: 0.75em;
        font-family: "BloggerSans", sans-serif;
        float: right;
        width: 220px; }
        #section4 #car #description-contact .line-info .right a {
          color: #2e79cc; }
  #section4 #car #description-contact-2 {
    padding: 0 10%;
    padding-top: 15px; }
    #section4 #car #description-contact-2 .line-info .right {
      width: 120px; }
  #tel-icon {
    bottom: 15px;
    right: 100px; } }
