
@font-face {
  font-family: 'FiraSans-Thin';
  src: url('FiraSans-Thin.eot?#iefix') format('embedded-opentype'),  url('FiraSans-Thin.otf')  format('opentype'),
	     url('FiraSans-Thin.woff') format('woff'), url('FiraSans-Thin.ttf')  format('truetype'), url('FiraSans-Thin.svg#FiraSans-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
